<div *ngIf="monitorForm" class="monitor-settings" fxLayout="column" fxLayoutGap="20px">
  <div class="monitor-settings__header" fxLayout="row" fxLayoutAlign="space-between center">
    <dashboard-breadcrumb [breadCrumb]="breadCrumb" [project]="project" subTitle="Monitors"></dashboard-breadcrumb>
  </div>
  <form [formGroup]="monitorForm">
    <mat-card class="monitor-settings__card">
      <mat-card-header>
        <div class="monitor-settings__card__header">
          <mat-icon class="material-icons-outlined white-color">desktop_windows</mat-icon>
        </div>
        <mat-card-title class="monitor-settings__card__title">
          <span *ngIf="!isEdit">Create</span>
          <span *ngIf="isEdit">Edit</span>
          Monitor
        </mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column" fxLayoutGap="20px" class="monitor-settings__card__content">
        <mat-form-field>
          <input matInput type="text" placeholder="Name" formControlName="name" required>
          <mat-error *ngIf="monitorForm.get(['name']).hasError('required')">This field is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="method" placeholder="Method" required>
            <mat-option value="GET">Get</mat-option>
          </mat-select>
          <mat-error *ngIf="monitorForm.get(['method']).hasError('required')">This field is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Path" formControlName="path" required>
          <mat-error *ngIf="monitorForm.get(['path']).hasError('required')">This field is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="expectedCode" placeholder="Code" required>
            <mat-option *ngFor="let statusCode of statusCodeList" [value]="statusCode">{{ statusCode }}</mat-option>
          </mat-select>
          <mat-error *ngIf="monitorForm.get(['expectedCode']).hasError('required')">This field is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Expected Text" formControlName="expectedText">
        </mat-form-field>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
          <button mat-stroked-button type="button" [routerLink]="['/projects', projectUid, 'monitors']" color="warn">Cancel</button>
          <button mat-raised-button type="submit" color="accent" (click)="save()" [disabled]="monitorForm.invalid">Save</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
