<div id="price-tables" class="page-layout simple fullwidth" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header" fxLayout="row" fxLayoutAlign="start start">

    <div class="hero-text" fxLayout="column" fxLayoutAlign="center center" fxFlex>

      <div class="h1">Simple Pricing!</div>
      <div class="h3">
        Simple and affordable pricing. And you can always try the free package, no card details!
      </div>

    </div>

  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content" fxLayout="column">

    <!-- PRICE TABLES -->
    <div class="price-tables" fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>

      <div class="price-table style-3 mat-elevation-z4" fxLayout="column">

        <div class="package-type">
          <div class="title">Starter</div>
          <div class="subtitle">For small teams</div>
        </div>

        <div class="price mat-primary-300-bg" fxLayout="row" fxLayoutAlign="center start">
          <div class="currency">£</div>
          <div fxLayout="row" fxLayoutAlign="center end">
            <div class="value">0</div>
            <div class="period">forever</div>
          </div>
        </div>

        <mat-list>
          <h3 mat-subheader>Available now</h3>
          <mat-list-item><mat-icon mat-list-icon>verified_user</mat-icon><h4 mat-line>GitHub login</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>lock_open</mat-icon><h4 mat-line>Unlimited<br />public environments</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>new_releases</mat-icon><h4 mat-line>*Unlimited releases</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>sim_card_alert</mat-icon><h4 mat-line>*1 monitor<br />per environment</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>note</mat-icon><h4 mat-line>Badges</h4></mat-list-item>
          <mat-divider></mat-divider>
          <h3 mat-subheader>Coming soon</h3>
          <mat-list-item><mat-icon mat-list-icon>people_outline</mat-icon><h4 mat-line>Unlimited followers</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>notifications</mat-icon><h4 mat-line>Unlimited notifications</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>compare_arrows</mat-icon><h4 mat-line>Notifications webhooks</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>show_chart</mat-icon><h4 mat-line>Deployments/Releases<br />graphs</h4></mat-list-item>
        </mat-list>

        <button mat-raised-button class="cta-button" color="accent" routerLink="/login">GET STARTED FREE</button>

        <div class="note">Great for Open Source projects</div>
        <div class="note">* there is a TTL</div>

      </div>

      <div class="price-table style-3 mat-elevation-z12" fxLayout="column">

        <div class="package-type">
          <div class="title">Pro</div>
          <div class="subtitle">For larger teams</div>
        </div>

        <div class="price mat-primary-bg" fxLayout="row" fxLayoutAlign="center start">
          <div class="currency">£</div>
          <div fxLayout="row" fxLayoutAlign="center end">
            <div class="value">10</div>
            <div class="period">/ monthly / environment</div>
          </div>
        </div>

        <mat-list>
          <h3 mat-subheader>Coming soon</h3>
          <mat-list-item><mat-icon mat-list-icon>verified_user</mat-icon><h4 mat-line>GitHub login</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>lock_open</mat-icon><h4 mat-line>Unlimited<br />public environments</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>new_releases</mat-icon><h4 mat-line>*Unlimited releases</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>sim_card_alert</mat-icon><h4 mat-line>*5 monitors<br />per environment</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>lock</mat-icon><h4 mat-line>3 private environments</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>people_outline</mat-icon><h4 mat-line>Unlimited followers</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>notifications</mat-icon><h4 mat-line>Unlimited notifications</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>compare_arrows</mat-icon><h4 mat-line>Notification webhooks</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>note</mat-icon><h4 mat-line>Badges</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>show_chart</mat-icon><h4 mat-line>Deployments/Releases<br />graphs</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>schedule</mat-icon><h4 mat-line>Scheduled releases</h4></mat-list-item>
        </mat-list>

        <button mat-raised-button class="cta-button" color="accent" [disabled]="true">GET STARTED</button>

        <div class="note">Great for Startups</div>
        <div class="note">* there is a TTL</div>

      </div>

      <div class="price-table style-3 mat-elevation-z4" fxLayout="column">

        <div class="package-type">
          <div class="title">Enterprise</div>
          <div class="subtitle">For enterprise teams</div>
        </div>

        <div class="price mat-primary-300-bg" fxLayout="row" fxLayoutAlign="center start">
          <div class="currency">£</div>
          <div fxLayout="row" fxLayoutAlign="center end">
            <div class="value">300</div>
            <div class="period">month</div>
          </div>
        </div>

        <mat-list>
          <h3 mat-subheader>Coming soon</h3>
          <mat-list-item><mat-icon mat-list-icon>verified_user</mat-icon><h4 mat-line>GitHub Login</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>lock_open</mat-icon><h4 mat-line>Unlimited<br />public environments</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>new_releases</mat-icon><h4 mat-line>Unlimited releases</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>sim_card_alert</mat-icon><h4 mat-line>20 monitors<br />per environment</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>lock</mat-icon><h4 mat-line>50 private<br />environments</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>people_outline</mat-icon><h4 mat-line>Unlimited followers</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>notifications</mat-icon><h4 mat-line>Unlimited notifications</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>compare_arrows</mat-icon><h4 mat-line>Notification webhooks</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>note</mat-icon><h4 mat-line>Badges</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>show_chart</mat-icon><h4 mat-line>Deployments/Releases<br />graphs</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>schedule</mat-icon><h4 mat-line>Scheduled releases</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>import_export</mat-icon><h4 mat-line>Export data</h4></mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>people</mat-icon><h4 mat-line>User management</h4></mat-list-item>
        </mat-list>

        <button mat-raised-button class="cta-button" color="accent" [disabled]="true">GET STARTED</button>

        <div class="note">Great for multiple projects</div>

      </div>

    </div>
    <!-- / PRICE TABLES -->

    <div class="faq" fxLayout="row" fxLayoutWrap>

      <div class="title" fxFlex="100">Frequently Asked Questions</div>

      <div class="item" fxFlex="100" fxFlex.gt-xs="50">
        <div class="question">How does free tier work?</div>
        <div class="answer">
          The free tier is completely free! Yes, completely free, no credit card needed.
          Just log in with your GitHub account and away you go.
        </div>
      </div>

      <div class="item" fxFlex="100" fxFlex.gt-xs="50">
        <div class="question">Why can I not buy now?</div>
        <div class="answer">
          Currently in the Alpha phase only the free tier is available.
          Follow us on <a href="https://twitter.com/DashboardHub" target="_blank">Twitter</a>
            or sign up to our newsletter on <a href="https://dashboardhub.io" target="_blank">DashbooardHub.io</a>
        </div>
      </div>

      <div class="item" fxFlex="100" fxFlex.gt-xs="50">
        <div class="question">Why is the project Open Source?</div>
        <div class="answer">
          We believe to really create a great product, we should share the details with our community,
          and allow the community to contribute back. Contributions are not only code changes but also include, logging defects, logging ideas and improvements,
          improving documentation.
        </div>
      </div>

      <div class="item" fxFlex="100" fxFlex.gt-xs="50">
        <div class="question">Can I cancel any time?</div>
        <div class="answer">
          Yes, you can cancel at anytime. We do not tie you into a contract for 12 months.
        </div>
      </div>

    </div>

  </div>

</div>
