<form #form="ngForm" class="form-full">
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field fxFlex>
      <input matInput class="form-control" placeholder="Release version (e.g. v1.0.123)"
             required minlength="1" maxlength="64"
             name="release" [(ngModel)]="deployed.release"
             #release="ngModel">
      <mat-hint>Create a manual Release state</mat-hint>
      <div *ngIf="release.errors && (release.dirty || release.touched)">
        <mat-error *ngIf="release.errors.required">
          Release is required
        </mat-error>
        <mat-error *ngIf="release.errors.minlength">
          Release must be at least 1 characters long.
        </mat-error>
        <mat-error *ngIf="release.errors.maxlength">
          Release cannot be more than 64 characters long.
        </mat-error>
      </div>
    </mat-form-field>
    <mat-form-field fxFlex="30%">
      <mat-select placeholder="Token" name="token"  [(ngModel)]="deployed.token">
        <mat-option *ngFor="let token of tokens.list" [value]="token">
          {{ token.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="20%">
      <mat-select placeholder="State" name="state"  [(ngModel)]="deployed.state">
        <span *ngFor="let state of states">
          <mat-option [class.tc-red-400]="state.value === 'failBuild' || state.value === 'failDeploy'" [disabled]="!state.types.includes(environment.type)" [value]="state.value">
            {{ state.name }}
          </mat-option>
        </span>
      </mat-select>
    </mat-form-field>
    <button mat-button fxFlex="10%" color="primary"
            [disabled]="!form.valid"
            (click)="add()">SAVE
    </button>
  </div>
</form>
