<div *ngIf="projects.length === 0">
  <mat-card fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <span>
      <mat-icon class="material-icons-outlined orange-color">warning</mat-icon>
    </span>
    <span *ngIf="authService.isAuthenticated">You do not have any project. Please <a [routerLink]="['/projects', 'create']">create</a> project</span>
    <span *ngIf="!authService.isAuthenticated">No projects are added yet.</span>
  </mat-card>
</div>
<div class="project">
  <table mat-table [dataSource]="projects" class="project__list">
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="material-icons-outlined green-color">{{ checkTypeOfProject(element) }}</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">
        <div fxLayout.xs="column" fxLayoutAlign="start start" class="project__list__title">
          <div><a [routerLink]="['/projects', element.uid]" class="project__list__title">{{ element.title }}</a></div>
          <div *ngIf="isSmallScreen">
            {{ (element.access.admin[0] | user | async)?.username }}
          </div>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description || 'no description' }}</td>
    </ng-container>
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef>Url</th>
      <td mat-cell *matCellDef="let element" class="project__list__url">
        <div class="project__list__url__content">
          <a href="{{ element.url }}" *ngIf="element.url">{{ element.url }}</a>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="repository">
      <th mat-header-cell *matHeaderCellDef>Repository</th>
      <td mat-cell *matCellDef="let element">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="material-icons-outlined light-green-color">folder_open</mat-icon>
          <span>{{ element.repositories.length }}</span>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="monitors">
      <th mat-header-cell *matHeaderCellDef>Monitors</th>
      <td mat-cell *matCellDef="let element" class="project__list__monitors">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="project__list__monitors__icon" class="material-icons-outlined dark-orange-color">desktop_windows</mat-icon>
          <span>{{ element.monitors.length }}</span>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="pings">
      <th mat-header-cell *matHeaderCellDef>Pings</th>
      <td mat-cell *matCellDef="let element">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="material-icons-outlined purple-color">swap_vertical_circle</mat-icon>
          <span>{{ element.getTotalPings() | numbers }}</span>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>User</th>
      <td mat-cell *matCellDef="let element">
        <a href="https://github.com/{{ (element.access.admin[0] | user | async)?.username }}">
          {{ (element.access.admin[0] | user | async)?.username }}
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="lastDate">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div fxLayoutAlign="space-between center">
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="material-icons-outlined grey-color">update</mat-icon>
            <span>{{ element.updatedOn.toDate() | timeAgo }}</span>
          </div>
          <div *ngIf="isAdmin(element)">
            <mat-icon [matMenuTriggerFor]="menu" class="project__list__actions">more_horiz</mat-icon>
            <mat-menu #menu="matMenu">
              <button [routerLink]="['/projects', element.uid, 'edit']" mat-menu-item>
                <mat-icon class="material-icons-outlined blue-color">edit</mat-icon>Edit
              </button>
              <button (click)="delete(element.uid)" mat-menu-item>
                <mat-icon class="material-icons-outlined dark-orange-color">delete_outline</mat-icon>Delete
              </button>
            </mat-menu>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
