<div class="panel panel-default">
    <div class="panel-body">
        <span class="inlinesparkline" values="{{ builds.series.y }}"></span>
    </div>
    <div class="panel-footer">
        {{ builds.min|number_format }}s - {{ builds.max|number_format }}s
        ( Diff: {{ builds.diff }}s )
    </div>
</div>
