<mat-card>
  <mat-card-header>
    <mat-card-title>Your Environment list ({{ environments.total }})</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let environment of environments.list">
        <mat-icon mat-list-icon>computer</mat-icon>
        <h4 mat-line>
          <a [routerLink]="['/environments', environment.id]">{{ environment.title }}</a>
          <mat-icon *ngIf="environment.isPrivate">lock</mat-icon>
          <mat-icon *ngIf="!environment.isPrivate">lock_open</mat-icon>
          <span *ngIf="environment.latestRelease">
            {{ environment.latestRelease }} ({{ environment.releases }})
          </span>
        </h4>
        <p mat-line>{{ environment.description}} {{ environment.link }}</p>
        <p mat-line>{{ environment.createdAt | date:'medium' }}, <strong>Last update on {{ environment.updatedAt | amTimeAgo }}</strong></p>
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip *ngFor="let tag of environment.tags" color="primary" selected="true">{{ tag }}</mat-chip>
        </mat-chip-list>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
