<div class="dialog-content-wrapper">

  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row>
      <span class="title dialog-title">{{ data.title }}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" *ngIf="data.content">
    {{ data.content }}
  </div>

  <div mat-dialog-actions class="m-0 p-16" layout="row" layout-align="end center">
    <button mat-button
            (click)="dialogRef.close(false)"
            class="mat-accent"
            aria-label="Cancel">
      CANCEL
    </button>
    <button mat-button
            (click)="dialogRef.close(true)"
            class="mat-accent tc-red-A400"
            aria-label="Confirm">
      CONFIRM
    </button>
  </div>

</div>
