._*
.~lock.*
.buildpath
.DS_Store
.idea
.project

composer.phar

/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
!test/build/.gitkeep
test/build/
web/fonts/
