service cloud.firestore {

  match /databases/{database}/documents {
    match /users/{user} {
      allow create: if request.auth.uid != null;
      allow get, list, update, delete: if request.auth.uid != null && request.auth.uid == resource.data.uid;

      match /logins/{login} {
        allow read, write: if request.auth.uid != null && get(/databases/$(database)/documents/users/$(user)).data.uid == request.auth.uid;
      }
    }

    match /userStats/{user} {
      allow create, update: if request.auth.uid != null;
      allow get, list: if true;
    }

    match /projects/{project} {
      allow create: if request.auth.uid != null;
      allow get, list: if resource.data.type == 'public' || request.auth.uid in resource.data.access.admin || request.auth.uid in resource.data.access.readonly;
      allow update, delete: if request.auth.uid != null && request.auth.uid in resource.data.access.admin;
    }

    match /repositories/{repository} {
      allow create: if request.auth.uid != null;
      allow get, list: if resource.data.private == false;
      allow update: if request.auth.uid != null;
      allow delete: if request.auth.uid != null && request.auth.uid == resource.data.ownerId;
    }
  }

}
