<div id="login" fxLayout="row" fxLayoutAlign="start">

  <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

    <div class="logo" *fuseIfOnDom [@animate]="{value:'*',params:{scale:'0.2'}}">
      <img src="assets/images/logos/fuse.svg">
    </div>

    <div class="title" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
      Welcome to the PIPELINE DASHBOARD!
    </div>

    <div class="description" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
      Pipeline Dashboard is the heartbeat of your deployment pipeline by DashboardHub.
    </div>

  </div>

  <div id="login-form-wrapper" fusePerfectScrollbar *fuseIfOnDom
       [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

    <div id="login-form">

      <div class="logo" fxHide.gt-xs>
        <span>DH</span>
      </div>

      <div class="title">LOGIN TO YOUR ACCOUNT</div>

      <div fxLayout="column" fxLayoutAlign="start center">

        <button mat-raised-button class="github" (click)="auth.login()">
          Log in with GitHub
        </button>

        <div class="separator">
          <span class="text">Coming soon</span>
        </div>

        <button mat-raised-button class="google" [disabled]="true">
          Log in with Google
        </button>

        <button mat-raised-button class="facebook" [disabled]="true">
          Log in with Facebook
        </button>

      </div>

    </div>
  </div>
</div>
