<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button [routerLink]="['/environments', environmentId]"><mat-icon>arrow_back</mat-icon></a>
    <span flex></span>
    <button mat-button class="tc-green-A700" (click)="refresh()" matTooltip="Refresh data"><mat-icon>refresh</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="mat-content" layout-padding flex>
  <mat-card>
    <mat-card-title>Releases</mat-card-title>
    <mat-card-subtitle>Recent activity</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-list class="will-load item-list">
      <ng-template tdLoading="items.load">
        <ng-template let-release let-last="last" ngFor [ngForOf]="releases.list">
          <mat-list-item layout-align="row">
            <mat-icon matListAvatar>new_releases</mat-icon>
            <h3 matLine>{{ release.version }}</h3>
            <p matLine hide-xs>{{ release.token.name }}</p>
            <span flex></span>
            <span class="mat-caption text-right" flex="20" layout-align="row" hide-xs hide-sm>
              <p>{{ release.latest.state | releaseState }}</p>
              <p>{{ release.duration | digits }}s</p>
            </span>
            <span class="mat-caption text-right" flex="40" layout-align="row" flex-gt-sm="30">
              <p>{{ release.latest.createdAt | timeAgo }}</p>
            </span>
          </mat-list-item>
          <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
        </ng-template>
      </ng-template>
    </mat-list>
  </mat-card>
</div>
