<td-message label="Currently in ALPHA" sublabel="Only the OPEN SOURCE FREE package is available in ALPHA stage" icon="info" color="accent" [opened]="true"></td-message>

<div fxLayout="row" fxLayoutGap="10px">
  <mat-card fxFlex>
    <mat-card-title class="bgc-orange-800">OPEN SOURCE</mat-card-title>
    <mat-card-content>
      <h1>FREE</h1>
      <mat-list>
        <h3 mat-subheader>Available now</h3>
        <mat-list-item><mat-icon mat-list-icon>verified_user</mat-icon><h4 mat-line>GitHub login</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>lock_open</mat-icon><h4 mat-line>Unlimited public environments</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>new_releases</mat-icon><h4 mat-line>Unlimited releases</h4></mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Coming soon</h3>
        <mat-list-item><mat-icon mat-list-icon>show_chart</mat-icon><h4 mat-line>Deployments/Releases graphs</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>people_outline</mat-icon><h4 mat-line>100 followers</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>notifications</mat-icon><h4 mat-line>Unlimited notifications</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>compare_arrows</mat-icon><h4 mat-line>Webhooks</h4></mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions class="bgc-blue-600">
      <a mat-button class="tc-orange-800" (click)="auth.login()">Log in</a>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex>
    <mat-card-title class="bgc-orange-300">DEVELOPER</mat-card-title>
    <mat-card-content>
      <h1>£10 / environment / month</h1>
      <mat-list>
        <h3 mat-subheader>Coming soon</h3>
        <mat-list-item><mat-icon mat-list-icon>verified_user</mat-icon><h4 mat-line>GitHub login</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>lock_open</mat-icon><h4 mat-line>Unlimited public environments</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>new_releases</mat-icon><h4 mat-line>Unlimited releases</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>lock</mat-icon><h4 mat-line>3 private environments</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>people_outline</mat-icon><h4 mat-line>Unlimited followers</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>notifications</mat-icon><h4 mat-line>Unlimited notifications</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>schedule</mat-icon><h4 mat-line>Scheduled releases</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>compare_arrows</mat-icon><h4 mat-line>Notification webhooks</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>sim_card_alert</mat-icon><h4 mat-line>1 monitor per environment</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>show_chart</mat-icon><h4 mat-line>Deployments/Releases graphs</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>import_export</mat-icon><h4 mat-line>Export data</h4></mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions class="bgc-blue-600">
      <a mat-button disabled="disabled" class="tc-grey-500">Log in</a>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex>
    <mat-card-title class="bgc-orange-300">ENTERPRISE</mat-card-title>
    <mat-card-content>
      <h1>£300 / month</h1>
      <mat-list>
        <h3 mat-subheader>Coming soon</h3>
        <mat-list-item><mat-icon mat-list-icon>verified_user</mat-icon><h4 mat-line>GitHub Login</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>lock_open</mat-icon><h4 mat-line>Unlimited public environments</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>new_releases</mat-icon><h4 mat-line>Unlimited releases</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>lock</mat-icon><h4 mat-line>Unlimited private environments</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>people_outline</mat-icon><h4 mat-line>Unlimited followers</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>notifications</mat-icon><h4 mat-line>Unlimited notifications</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>schedule</mat-icon><h4 mat-line>Scheduled releases</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>compare_arrows</mat-icon><h4 mat-line>Notification webhooks</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>sim_card_alert</mat-icon><h4 mat-line>10 monitors per environment</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>show_chart</mat-icon><h4 mat-line>Deployments/Releases graphs</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>import_export</mat-icon><h4 mat-line>Export data</h4></mat-list-item>
        <mat-list-item><mat-icon mat-list-icon>people</mat-icon><h4 mat-line>User management</h4></mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions class="bgc-blue-600">
      <a mat-button disabled="disabled" class="tc-grey-500">Log in</a>
    </mat-card-actions>
  </mat-card>
</div>
