<mat-card *ngIf="!environment.link">
    <mat-card-title>Error</mat-card-title>
    <mat-card-content fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-icon color="warn">error</mat-icon>
        <span>You can not add a Monitor to an Environment when there is no configured URL</span>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="environment.link">
    <mat-card-title>Info</mat-card-title>
    <mat-card-content><mat-icon color="accent">info</mat-icon>Your path will be appended to {{ environment.link }}</mat-card-content>
</mat-card>

<div class="mat-content" fxLayout="column" fxLayoutGap="20px">
    <form (submit)="createMonitor()" [formGroup]="monitorForm">
        <mat-card>
            <mat-card-title>Create Monitor</mat-card-title>
            <mat-card-subtitle>Monitor your environment every 30 minutes</mat-card-subtitle>

            <mat-card-content fxLayout="column" fxLayoutGap="20px">
                <mat-form-field>
                    <mat-select placeholder="Method" formControlName="method" required>
                        <mat-option *ngFor="let http of httpMethods" [value]="http.value">{{ http.label }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="monitorForm.get(['method']).hasError('required')">This field is required.</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="Path (this is appended to your environment URL)" formControlName="path" required>
                    <mat-error *ngIf="monitorForm.get(['path']).hasError('required')">This field is required.</mat-error>
                    <mat-error *ngIf="monitorForm.get(['path']).hasError('maxlength')">Entered text is too long.</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Expected code" formControlName="expectedCode" required>
                        <mat-option *ngFor="let code of statusCodes" [value]="code.value">{{ code.label }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="monitorForm.get(['expectedCode']).hasError('required')">This field is required.</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="url" placeholder="Expected text" formControlName="expectedText">
                    <mat-error *ngIf="monitorForm.get(['expectedText']).hasError('required')">This field is required.</mat-error>
                    <mat-error *ngIf="monitorForm.get(['expectedText']).hasError('maxlength')">Entered text is too long.</mat-error>
                </mat-form-field>

                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
                    <button mat-stroked-button type="button" [routerLink]="['/environments', environment.id, 'monitors']" color="warn">Cancel</button>
                    <button mat-raised-button type="submit" color="accent" [disabled]="!environment.link || monitorForm.invalid">Create</button>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>
