<mat-card *ngIf="repository">
  <mat-card-header>
    <mat-card-title>{{ repository.fullName }}
      <button mat-raised-button type="submit" color="accent" (click)="reloadRepository(repository.fullName)" [disabled]="manualReload">
        Refresh <mat-icon>refresh</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-subtitle>{{ repository.description }}</mat-card-subtitle>
    <span fxFlex></span>
    <span *ngIf="repository.fork">
      <mat-icon matTooltip="Forked Repository">call_split</mat-icon>
    </span>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>

    <div *ngIf="isAlertEnabled && repository.fullName !== '' && (repository.webhook == null || repository.webhook.id == null)" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center" class="alert-row">
      <div fxFlex="100%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="alert alert-danger">
        <mat-icon class="icon">warning</mat-icon>
        <span class="message">Webhook not found on this repository. This is required for realtime data.</span>
        <button class="btn-action" mat-stroked-button (click)="createWebhook()">
          Create webhook!
        </button>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="2%" class="dashboard-cards-row">
      <div fxFlex="24%">
        <mat-card>
          <mat-card-content class="dashboard-card">
            <div class="card-icon">
              <mat-icon>new_releases</mat-icon>
            </div>
            <p class="heading">Latest Release</p>
            <h3 class="description" *ngIf="repository.releases && repository.releases.length > 0; else releasesOther"><a href="{{repository.releases[0].htmlUrl}}">{{repository.releases[0].title}}</a></h3>
          </mat-card-content>
          <mat-card-actions>
            <div class="card-footer" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div fxFlex="15%" *ngIf="repository.releases && repository.releases.length > 0">
                <img [alt]="repository.releases[0].owner.username" [src]="repository.releases[0].owner.avatarUrl" />
              </div>
              <div fxFlex="15%" *ngIf="repository.releases && !repository.releases.length">
                <mat-icon class="person-class">person</mat-icon>
              </div>
              <div fxFlex="85%">
                <p class="bottom-line" *ngIf="repository.releases && repository.releases.length > 0" mat-line> Published: {{repository.releases[0].createdOn | timeAgo}}</p>
                <p class="bottom-line-none" *ngIf="repository.releases && !repository.releases.length" mat-line>Published: N/A</p>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
        <ng-template #releasesOther>
          <p class="empty-release">No releases are available</p>
        </ng-template>
      </div>
      <div fxFlex="24%">
        <mat-card>
          <mat-card-content class="dashboard-card">
            <div class="card-icon control-point">
              <mat-icon>content_copy</mat-icon>
            </div>
            <p class="heading">Milestone last updated</p>
            <h3 class="description" *ngIf="repository.milestones && repository.milestones.length > 0; else milestonesOther"><a href="{{repository.milestones[0].htmlUrl}}">{{repository.milestones[0].title}}</a></h3>
          </mat-card-content>
          <mat-card-actions>
            <div class="card-footer" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div fxFlex="15%" *ngIf="repository.milestones && repository.milestones.length > 0">
                <img [alt]="repository.milestones[0].creator.username" [src]="repository.milestones[0].creator.avatarUrl" />
              </div>
              <div fxFlex="15%" *ngIf="repository.milestones && !repository.milestones.length">
                <mat-icon class="person-class">person</mat-icon>
              </div>
              <div fxFlex="85%">
                <p class="bottom-line" *ngIf="repository.milestones && repository.milestones.length > 0" mat-line>State: {{repository.milestones[0].state}} | Open: {{repository.milestones[0].openIssues}} | Close: {{repository.milestones[0].closeIssues}}</p>
                <p class="bottom-line-none" *ngIf="repository.milestones && !repository.milestones.length" mat-line>State: N/A | Open: N/A | Close: N/A</p>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
        <ng-template #milestonesOther>
          <p>No milestones are available</p>
        </ng-template>
      </div>
      <div fxFlex="24%">
        <mat-card>
          <mat-card-content class="dashboard-card">
            <div class="card-icon verified-user">
              <mat-icon>verified_user</mat-icon>
            </div>
            <p class="heading">Top Contributor</p>
            <h3 class="description" *ngIf="repository.contributors && repository.contributors.length > 0; else topContributorsOther">
              <a href="https://github.com/{{repository.contributors[0].owner.username}}">{{repository.contributors[0].owner.username}}</a>
            </h3>
          </mat-card-content>
          <mat-card-actions>
            <div class="card-footer" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div fxFlex="15%" *ngIf="repository.contributors && repository.contributors.length > 0">
                <img [alt]="repository.contributors[0].owner.username" [src]="repository.contributors[0].owner.avatarUrl" />
              </div>
              <div fxFlex="15%" *ngIf="repository.contributors && !repository.contributors.length">
                <mat-icon class="person-class">person</mat-icon>
              </div>
              <div fxFlex="85%">
                <p class="bottom-line" *ngIf="repository.contributors && repository.contributors.length > 0" mat-line> Total Commits: {{repository.contributors[0].total}}</p>
                <p class="bottom-line-none" *ngIf="repository.contributors && !repository.contributors.length" mat-line>Total Commits: N/A</p>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
        <ng-template #topContributorsOther>
          <p>No contributors are available</p>
        </ng-template>
      </div>
      <div fxFlex="24%">
        <mat-card>
          <mat-card-content class="dashboard-card">
            <div class="card-icon info-outline">
              <mat-icon>control_point</mat-icon>
            </div>
            <p class="heading">Latest PR</p>
            <h3 class="description" *ngIf="repository.pullRequests && repository.pullRequests.length > 0; else otherLatestPR">
              <a href="{{repository.pullRequests[0].url}}">{{repository.pullRequests[0].id}}</a>
            </h3>
          </mat-card-content>
          <mat-card-actions>
            <div class="card-footer" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div fxFlex="15%" *ngIf="repository.pullRequests && repository.pullRequests.length > 0">
                <img [alt]="repository.pullRequests[0].owner.username" [src]="repository.pullRequests[0].owner.avatarUrl" />
              </div>
              <div fxFlex="15%" *ngIf="repository.pullRequests && !repository.pullRequests.length">
                <mat-icon class="person-class">person</mat-icon>
              </div>
              <div fxFlex="85%">
                <p class="bottom-line" mat-line *ngIf="repository.pullRequests && repository.pullRequests.length > 0"> {{repository.pullRequests[0].title}} </p>
                <p class="bottom-line-none" *ngIf="repository.pullRequests && !repository.pullRequests.length" mat-line>Title: N/A</p>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
        <ng-template #otherLatestPR>
          <p class="empty-release">No PR are available</p>
        </ng-template>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" class="tab-list">
      <div fxFlex="24%">
        <mat-card>
          <mat-card-content class="dashboard-card">
            <h3 *ngIf="repository.events && repository.events.length > 0; else eventsOther" class="heading card-icon">Events</h3>
            <ng-template #eventsOther>
              <p> No events are available</p>
            </ng-template>
            <mat-list>
              <mat-list-item *ngFor="let event of repository.events | slice:0:5">
                <img matListAvatar [src]="event.actor.avatarUrl" [alt]="event.actor.username" />
                <h4 mat-line [matTooltip]="event.type">{{ event.type}}</h4>
                <p mat-line>{{event.payload.title}}</p>
                <p mat-line>{{ event.createdOn | timeAgo }}</p>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="24%">
        <mat-card>
          <mat-card-content class="dashboard-card">
            <h3 *ngIf="repository.issues && repository.issues.length > 0; else issuesOther" class="heading card-icon control-point">Issues</h3>
            <ng-template #issuesOther>
              <p> No issues are available</p>
            </ng-template>
            <mat-list role="list">
              <mat-list-item role="listitem" *ngFor="let issue of repository.issues | slice:0:5">
                <img matListAvatar [src]="issue.owner.avatarUrl" [alt]="issue.owner.username" />
                <h4 mat-line><a href="{{issue.url}}">
                    #{{issue.number}} </a> {{issue.title}}</h4>
                <p mat-line>Last updated: {{issue.updatedOn | timeAgo}}</p>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="24%">
        <mat-card>
          <mat-card-content class="dashboard-card">
            <h3 *ngIf="repository.contributors && repository.contributors.length > 0; else contributorsOther" class="heading card-icon verified-user">Contributors</h3>
            <ng-template #contributorsOther>
              <p> No contributors are available</p>
            </ng-template>
            <mat-list role="list">
              <mat-list-item role="listitem" *ngFor="let contributor of repository.contributors | slice:0:5">
                <img matListAvatar [alt]="contributor.owner.username" [src]="contributor.owner.avatarUrl" />
                <h4 mat-line><a href="https://github.com/{{contributor.owner.username}}">
                    {{contributor.owner.username}}</a></h4>
                <p mat-line>Total commits: {{contributor.total}}</p>
              </mat-list-item>
            </mat-list>

          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="24%">
        <mat-card>
          <mat-card-content class="dashboard-card">
            <h3 *ngIf="repository.pullRequests && repository.pullRequests.length > 0; else pullRequestsOther" class="card-icon heading info-outline">Pull Requests</h3>
            <ng-template #pullRequestsOther>
              <p> No pull requests are available</p>
            </ng-template>
            <mat-list>
              <mat-list-item *ngFor="let pullRequest of repository.pullRequests | slice:0:5">
                <img matListAvatar [src]="pullRequest.owner.avatarUrl" [alt]="pullRequest.owner.username" />
                <h4 mat-line>{{ pullRequest.title }}</h4>
                <p mat-line>{{ pullRequest.owner.username }}</p>
                <p mat-line>{{ pullRequest.createdOn | timeAgo }}</p>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <span *ngIf="repository.license">
      <mat-icon>gavel</mat-icon> {{ repository.license.name || 'No license' }}
    </span>
  </mat-card-footer>
</mat-card>
