<div class="mat-content">
    <mat-card>
        <mat-card-header>
            <img mat-card-avatar [src]="profile.avatarUrl" />
            <mat-card-title>Profile</mat-card-title>
            <mat-card-subtitle>{{ profile.name }} ({{ profile.username }})</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mat-list>
                <h3 mat-subheader>Login history</h3>
                <mat-list-item *ngFor="let login of logins">
                    <mat-icon mat-list-icon>security</mat-icon>
                    <h4 mat-line>{{ login.date.toDate() | timeAgo }}</h4>
                    <p mat-line> MAC OSX </p>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
