{% extends '::base.html.twig' %}

{% block body %}
<section class="login">
    <article>

        <form action="{{ path('dashboard_hub_development_login_check') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />

            <button type="submit">login</button>
        </form>

    </article>
</section>
{% endblock %}