<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <div layout-gt-xs="row" flex>
    <div flex-gt-xs="20">
      <mat-card>
        <mat-card-content class="text-center">
          <div class="mat-headline push-bottom-none">{{ summary.environments | digits }}
            <!--<mat-icon class="tc-green-500 text-sm">arrow_upward</mat-icon>-->
          </div>
          <mat-icon class="icon tc-cyan-900">developer_board</mat-icon>
          <div>
            <div class="mat-subheading-2 push-bottom-none">Environments</div>
            <div class="mat-caption tc-grey-600">Public</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div flex-gt-xs="20">
      <mat-card>
        <mat-card-content class="text-center">
          <div class="mat-headline push-bottom-none">{{ summary.releases | digits }}
            <!--<mat-icon class="tc-green-500 text-sm">arrow_upward</mat-icon>-->
          </div>
          <mat-icon class="icon tc-cyan-900">new_releases</mat-icon>
          <div>
            <div class="mat-subheading-2 push-bottom-none">Releases</div>
            <div class="mat-caption tc-grey-600">Public</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div flex-gt-xs="20">
      <mat-card>
        <mat-card-content class="text-center">
          <div class="mat-headline push-bottom-none">{{ summary.monitors | digits }}
            <!--<mat-icon class="tc-green-500 text-sm">arrow_upward</mat-icon>-->
          </div>
          <mat-icon class="icon tc-cyan-900">timelapse</mat-icon>
          <div>
            <div class="mat-subheading-2 push-bottom-none">Monitors</div>
            <div class="mat-caption tc-grey-600">Public</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div flex-gt-xs="20">
      <mat-card>
        <mat-card-content class="text-center">
          <div class="mat-headline push-bottom-none">{{ summary.pings | digits }}
            <!--<mat-icon class="tc-green-500 text-sm">arrow_upward</mat-icon>-->
          </div>
          <mat-icon class="icon tc-cyan-900">receipt</mat-icon>
          <div>
            <div class="mat-subheading-2 push-bottom-none">Pings</div>
            <div class="mat-caption tc-grey-600">Public</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div flex-gt-xs="20">
      <mat-card>
        <mat-card-content class="text-center">
          <div class="mat-headline push-bottom-none">{{ summary.views | digits }}
            <!--<mat-icon class="tc-green-500 text-sm">arrow_upward</mat-icon>-->
          </div>
          <mat-icon class="icon tc-cyan-900">record_voice_over</mat-icon>
          <div>
            <div class="mat-subheading-2 push-bottom-none">Views</div>
            <div class="mat-caption tc-grey-600">Public</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="mat-content" layout-padding flex>
  <mat-card>
    <mat-card-title>Welcome to DashboardHub! To get you started...</mat-card-title>
    <p layout-padding flex>Welcome to DashboardHub, the no-setup, open-source
      platform that makes your deployment pipeline more transparent by ensuring
      everybody on your team is on the same page. DashboardHub does this by
      gathering the most relevant, up-to-date information (like what version is
      on what stage, build/deployment durations) all in one place, and monitors
      your deployments every 30 minutes and after each deployment to ensure
      everything is still up and running.</p>

    <p layout-padding flex>Please click the key icon on the top right to log in
      using your GitHub account.</p>

    <p layout-padding flex>For more detailed help and FAQs,
      <a href="http://www.dashboardhub.io/help.html"> click here</a>.</p>

    <p layout-padding flex>The current page is showing you the full list of
      public environments; to access your private environments, please log in, then click the
      menu button on the top left and select "My Environments".</p>
  </mat-card>
</div>

<div class="mat-content" layout-padding flex>
  <mat-card>
    <mat-card-title>Public Environments</mat-card-title>
    <mat-card-subtitle>Recent activity</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-nav-list class="will-load item-list">
      <ng-template tdLoading="items.load">
        <ng-template let-environment let-last="last" ngFor [ngForOf]="environments.list">
          <a mat-list-item layout-align="row" [routerLink]="'/environments/' + environment.id + (profile && profile.sub === environment.owner ? '': '/view')">
            <mat-icon matListAvatar *ngIf="!environment.logo">developer_board</mat-icon>
            <img matListAvatar [src]="environment.logo" *ngIf="environment.logo" [alt]="environment.title">
            <h3 matLine>{{ environment.title }}</h3>
            <p matLine hide-xs>{{ environment.description | truncate:50 }}</p>
            <span flex></span>
            <span class="mat-caption text-right" flex="20" layout-align="row" hide-xs hide-sm>
              <p>{{ environment.type | environmentType }}</p>
              <p>{{ environment.updatedAt | timeAgo }}</p>
            </span>
            <span class="mat-caption text-right" flex="40" layout-align="row" flex-gt-sm="30" *ngIf="environment.latestRelease.release">
              <h3>{{ environment.latestRelease.release | digits }}</h3>
              <p>{{ environment.latestRelease.state | releaseState }}</p>
            </span>
            <span class="mat-caption text-right" flex="40" layout-align="row" flex-gt-sm="30" *ngIf="!environment.latestRelease.release">
              <p>No version</p>
              <p>No releases</p>
            </span>
            <span class="mat-caption text-right" flex="20" layout-align="row" hide-xs hide-sm>
              <p>{{ environment.releases }} releases</p>
              <p>{{ environment.pings.valid + environment.pings.invalid | digits }} pings</p>
            </span>
          </a>
          <mat-progress-bar mode="determinate" [value]="environment.progress.current"></mat-progress-bar>
          <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
        </ng-template>
      </ng-template>
    </mat-nav-list>
  </mat-card>
</div>
