<mat-toolbar class="mat-elevation-z2" fxLayout="row" fxLayoutGap="10px">
    <a mat-icon-button routerLink="/environments/list"><mat-icon>arrow_back</mat-icon></a>
    <span fxFlex></span>
    <button mat-icon-button (click)="deleteDialog()" matTooltip="Delete Environment" color="warn"><mat-icon>delete</mat-icon></button>
    <button mat-icon-button [routerLink]="['/environments', environment.id, 'edit']" matTooltip="Edit Environment" color="accent"><mat-icon>edit</mat-icon></button>
    <button mat-icon-button [routerLink]="['/environments', environment.id, 'releases']" matTooltip="Releases"><mat-icon>new_releases</mat-icon></button>
    <button mat-icon-button [routerLink]="['/environments', environment.id, 'tokens']" matTooltip="Manage tokens"><mat-icon>vpn_key</mat-icon></button>
    <button mat-icon-button [routerLink]="['/environments', environment.id, 'monitors']" matTooltip="Monitors"><mat-icon>timelapse</mat-icon></button>
    <button mat-icon-button (click)="refresh()" matTooltip="Refresh data"><mat-icon>refresh</mat-icon></button>
</mat-toolbar>

<div class="mat-content" fxLayout="column" fxLayoutGap="20px">

    <dashboard-environments-view [environment]="environment"></dashboard-environments-view>

    <mat-card>
        <mat-card-title>Badge</mat-card-title>
        <mat-card-subtitle>To give quick access to your DashboardHub, copy and paste the below markdown and add it to your README.md.</mat-card-subtitle>
        <mat-card-content>
            <code class="markdown-wanted">
                [![DashboardHub Badge](https://img.shields.io/badge/DashboardHub-{{ environment.title | encodeUri }}-orange.svg)](https://pipeline.dashboardhub.io/environments/{{ environment.id }}/view)
            </code>
        </mat-card-content>
    </mat-card>
</div>
