$grey-color: #eeeeee;
$disable_color: #F0F0F0;
$red-color: #DB4453;
$orange-color: #F3A449;
$orange-2-color: #FF5A00;
$orange-3-color: #E9573E;
$green-color: #8DC153;
$green-2-color: #37BD9C;
$blue-color: #4B89DC;
$blue-2-color: #3BAEDA;
$dark-grey-color: #979797;
$dark-grey-2-color: #5E5E5E;
$dark-grey-3-color: #4D4D4D;
$purple-color: #967BDC;
$border-color: rgba(0, 0, 0, 0.12);
$backround-grey-light-color: #F7F7F7;
$background-black-color: #4D4D4D;

$red-shadow: rgba(219, 68, 83, 0.34);
$orange-shadow: rgba(243, 164, 73, 0.5);
$orange-2-shadow: rgba(255, 90, 0, 0.35);
$orange-3-shadow: rgba(255, 90, 0, 0.35);
$green-shadow: rgba(141, 193, 83, 0.45);
$green-2-shadow: rgba(55, 189, 156, 0.5);
$blue-shadow: rgba(59, 174, 218, 0.32);
$blue-2-shadow: rgba(59, 174, 218, 0.32);
$purple-shadow: rgba(151, 151, 151, 1);
$dark-grey-shadow: rgba(151, 151, 151, 0.51);


$breakpoint-lg: 1199px;
$breakpoint-md: 959px;
$breakpoint-xs: 576px;
