$grey-color: #eeeeee;
$disable_color: #F0F0F0;
$red-color: #DB4453;
$orange-color: #F3A449;
$orange-2-color: #FF5A00;
$orange-3-color: #E9573E;
$green-color: #8DC153;
$blue-color: #4B89DC;
$blue-2-color: #3BAEDA;
$dark-grey-color: #979797;
$dark-grey-2-color: #5E5E5E;
$dark-grey-3-color: #4D4D4D;
$purple-color: #967BDC;
$border-color: rgba(0, 0, 0, 0.12);
$backround-grey-light-color: #F7F7F7;
$background-black-color: #4D4D4D;

$breakpoint-lg: 1199px;
$breakpoint-md: 959px;
$breakpoint-xs: 576px;
