$grey-color: #eeeeee;
$red-color: #DB4453;
$orange-color: #F3A449;
$orange-2-color: #FF5A00;
$green-color: #8DC153;
$blue-color: #4B89DC;
$blue-2-color: #3BAEDA;
$dark-grey-color: #979797;
$dark-grey-2-color: #5E5E5E;
$dark-grey-3-color: #4D4D4D;
$purple-color: #967BDC;
$border-color: rgba(0, 0, 0, 0.12);

$breakpoint-md: 959px;
$breakpoint-xs: 576px;
