@import "./variable";

@mixin header-icon {
  position: absolute;
  padding: 13px;
  margin-top: -30px !important;
  margin-right: 15px;
  float: left;
  border-radius: 5px;
  opacity: 1;

  mat-icon {
    font-size: 24px;
    line-height: 24px;
    width: 39px;
    height: 39px;
    text-align: center;
    color: white;
  }
}

@mixin subtitle {
  @include title;
  font-size: 14px;

  width: 29vh;
}

@mixin title {
  @include ellipsisText;
  padding-left: 60px;
  width: 30vh;
  font-weight: lighter;
}

@mixin pageHeader {
  font-size: 20px;
}

@mixin pageContainer {
  padding: 20px 30px;

  @media (max-width: $breakpoint-xs) {
    padding: 15px 20px;
  }
}

@mixin cardContainer {
  margin-top: 55px;

  @media (max-width: $breakpoint-xs) {
    margin-top: 45px;
  }
}

@mixin ellipsisText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin tableContainer {
  margin-left: -16px;
  margin-right: -16px;
}
