<div id="profile" class="page-layout simple tabbed" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
       fxLayoutAlign.gt-sm="space-between end">

    <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="start center">
      <img class="profile-image avatar huge" src="{{ profile?.picture }}"
           *fuseIfOnDom>
      <div class="name" *fuseIfOnDom>
        {{ profile?.name }} ({{ profile?.name }})
      </div>
    </div>

    <div class="actions" fxLayout="row" fxLayoutAlign="end center" *fuseIfOnDom>
    </div>

  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">

    <div class="widget-group p-12" fxLayout="row" fxFlex="100" fxLayoutWrap *fuseIfOnDom [@animateStagger]="{value:'50'}">

      <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
          <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <div class="light-blue-fg font-size-72 line-height-72">{{ summary.environments }}</div>
            <div class="h3 secondary-text font-weight-500">Environments</div>
          </div>

          <!--<div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">-->
            <!--<span class="h4 ml-8">bbbb</span>-->
          <!--</div>-->
        </div>
      </fuse-widget>

      <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
          <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <div class="light-blue-fg font-size-72 line-height-72">{{ summary.deploys }}</div>
            <div class="h3 secondary-text font-weight-500">Deploys</div>
          </div>

          <!--<div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">-->
            <!--<span class="h4 secondary-text text-truncate">aaaa</span>-->
            <!--<span class="h4 ml-8">bbbb</span>-->
          <!--</div>-->
        </div>
      </fuse-widget>

      <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
          <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <div class="light-blue-fg font-size-72 line-height-72">{{ summary.pings }}</div>
            <div class="h3 secondary-text font-weight-500">Pings</div>
          </div>

          <!--<div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">-->
            <!--<span class="h4 secondary-text text-truncate">aaaa</span>-->
            <!--<span class="h4 ml-8">bbbb</span>-->
          <!--</div>-->
        </div>
      </fuse-widget>

    </div>

  </div>
  <!-- / CONTENT -->

</div>
