<mat-toolbar>
  <a mat-button routerLink="/environments/list">
    <mat-icon>arrow_back</mat-icon>
    <span>Back to list</span>
  </a>
  <a mat-button color="primary"
     routerLink="/environments/{{ environment.id }}/edit">
    <mat-icon>mode_edit</mat-icon>
    EDIT
  </a>
  <button mat-button color="primary" (click)="deleteEnvironment()">
    <mat-icon>delete</mat-icon>
    DELETE
  </button>
</mat-toolbar>

<h2>{{ environment.title }}</h2>

<mat-list>
  <mat-list-item>
    <mat-icon mat-list-icon>list</mat-icon>
    <h4 mat-line><span class="text-upper">{{ environment.type }}</span> workflow</h4>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>description</mat-icon>
    <h4 mat-line>{{ environment.description || '-' }}</h4>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>link</mat-icon>
    <h4 mat-line>{{ environment.link || '-' }}</h4>
  </mat-list-item>
</mat-list>

<td-message *ngIf="environment.latestRelease.token" label="Latest release is {{ environment.latestRelease.release }} in {{ environment.latestRelease.state }} state"
            sublabel="By {{ environment.latestRelease.token.name }}" icon="info" color="accent" [opened]="true"></td-message>

<mat-tab-group>
  <mat-tab label="Releases">
    <app-deployed-summary></app-deployed-summary>
  </mat-tab>
  <mat-tab label="Tokens">
    <app-token></app-token>
  </mat-tab>
  <mat-tab label="Monitors">
    <app-monitor-list></app-monitor-list>
  </mat-tab>
  <mat-tab label="Deploys">
    <app-deployed-list></app-deployed-list>
  </mat-tab>
</mat-tab-group>
