<md-card>
  <md-card-header>
    <md-card-title>Add Environment</md-card-title>
    <md-card-subtitle>
      <a md-button routerLink="/environments">
        <md-icon>arrow_back</md-icon>
        <span>Back to list</span>
      </a>
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <h2>{{ environment.title }}<span *ngIf="environment.latestRelease"> - {{ environment.latestRelease }} ({{ environment.releases }})</span></h2>
    <p>{{ environment.description }}</p>
    <a *ngIf="environment.link">{{ environment.link }}</a>
  </md-card-content>
  <md-card-actions>
    <a md-button color="primary"
       routerLink="/environments/{{ environment.id }}/edit">
      <md-icon>mode_edit</md-icon> EDIT</a>
  </md-card-actions>
</md-card>
