{% extends "::base.html.twig" %}

{% block body %}

    <h2>{% trans %}register.title{% endtrans %}</h2>
    <h4>{% trans %}register.subtitle{% endtrans %}</h4>

    {% block fos_user_content %}
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    {% endblock fos_user_content %}

{% endblock body %}
