
<mat-toolbar class="mat-elevation-z2" fxLayout="row" fxLayoutGap="10px">
    <span fxFlex></span>
    <button mat-icon-button (click)="refresh()" matTooltip="Refresh data"><mat-icon>refresh</mat-icon></button>
    <button mat-icon-button routerLink="/environments/add" color="accent" matTooltip="Add Environment" *ngIf="isAuthenticated()"><mat-icon>add</mat-icon></button>
</mat-toolbar>

<div class="mat-content" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="20px">
        <mat-card fxFlex="75%">
            <mat-card-title>Welcome to DashboardHub!</mat-card-title>
            <mat-card-subtitle>The pulse of your CI & CD pipeline</mat-card-subtitle>
            <mat-card-content>
                <p>Welcome to DashboardHub, the no-setup, open-source
                    platform that makes your deployment pipeline more transparent by ensuring
                    everybody on your team is on the same page. DashboardHub does this by
                    gathering the most relevant, up-to-date information (like what version is
                    on what stage, build/deployment durations) all in one place, and monitors
                    your deployments every 30 minutes and after each deployment to ensure
                    everything is still up and running.</p>

                <p>For more detailed <a routerLink="/help">help & FAQs</a>.</p>

                <p>The current page is showing you the full list of
                    public environments; to access your private environments, please log in, then click the
                    menu button on the top left and select "My Environments".</p>
            </mat-card-content>
        </mat-card>

        <mat-card fxFlex="25%" *ngIf="!isAuthenticated()">
            <mat-card-title>Login</mat-card-title>
            <mat-card-subtitle>No need to register</mat-card-subtitle>
            <mat-card-content fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                <div>
                    <mat-icon class="mat-icon-2x" color="accent">vpn_key</mat-icon>
                </div>
                <button mat-raised-button color="accent" dashboardLogin><mat-icon svgIcon="assets:github"></mat-icon> GitHub</button>
                <p class="mat-caption">Simple & Secure</p>
            </mat-card-content>
        </mat-card>

        <mat-card fxFlex="25%" class="text-center" *ngIf="isAuthenticated()">
            <mat-card-title>Get started</mat-card-title>
            <mat-card-subtitle>1. Create an Environment</mat-card-subtitle>
            <mat-card-content fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                <div>
                    <mat-icon class="mat-icon-2x" color="accent">developer_board</mat-icon>
                </div>
                <button mat-raised-button color="accent" routerLink="/environments/add"><mat-icon>add</mat-icon> Environment</button>
                <div class="mat-caption">Visibility & Insight</div>
            </mat-card-content>
        </mat-card>
    </div>

    <dashboard-environments-list [environments]="environments"></dashboard-environments-list>
</div>
