<mat-toolbar>
  <mat-toolbar-row>
    <span flex></span>
    <button mat-button (click)="refresh()" matTooltip="Refresh data"><mat-icon>refresh</mat-icon></button>
    <button mat-button routerLink="/environments/add"
            color="accent" matTooltip="Add Environment"
            *ngIf="isAuthenticated()"><mat-icon>add</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="mat-content" layout-padding flex>
  <mat-card>
    <mat-card-title>Welcome to DashboardHub! To get you started...</mat-card-title>
    <mat-card-content>
      <p layout-padding flex>Welcome to DashboardHub, the no-setup, open-source
        platform that makes your deployment pipeline more transparent by ensuring
        everybody on your team is on the same page. DashboardHub does this by
        gathering the most relevant, up-to-date information (like what version is
        on what stage, build/deployment durations) all in one place, and monitors
        your deployments every 30 minutes and after each deployment to ensure
        everything is still up and running.</p>

      <p>Please click the key icon on the top right to log in
        using your GitHub account.</p>

      <p>For more detailed <a routerLink="/help">help & FAQs</a>.</p>

      <p>The current page is showing you the full list of
        public environments; to access your private environments, please log in, then click the
        menu button on the top left and select "My Environments".</p>
    </mat-card-content>
  </mat-card>
</div>

<qs-environments-list [environments]="environments"></qs-environments-list>
