<div class="mat-content" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="20px">
  <div fxFlex fxFlex.gt-sm="33%">
    <mat-card>
      <mat-card-title>
        <mat-icon>developer_mode</mat-icon> Starter
      </mat-card-title>
      <mat-card-subtitle>For solo developers</mat-card-subtitle>

      <mat-card-content>
        <mat-list>
          <h3 mat-subheader>Available now</h3>
          <mat-list-item>
            <mat-icon matListIcon>verified_user</mat-icon>
            <h4 mat-line>GitHub login</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>lock_open</mat-icon>
            <h4 mat-line>Unlimited public environments</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>new_releases</mat-icon>
            <h4 mat-line>*Unlimited releases</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>sim_card_alert</mat-icon>
            <h4 mat-line>*1 monitor per environment</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>note</mat-icon>
            <h4 mat-line>Badges</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 mat-subheader>Coming soon</h3>
          <mat-list-item>
            <mat-icon matListIcon>people_outline</mat-icon>
            <h4 mat-line>Unlimited followers</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>notifications</mat-icon>
            <h4 mat-line>Unlimited notifications</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>compare_arrows</mat-icon>
            <h4 mat-line>Notifications webhooks</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>show_chart</mat-icon>
            <h4 mat-line>Deployments/Releases graphs</h4>
          </mat-list-item>
        </mat-list>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="accent" routerLink="/login">
          <mat-icon>payment</mat-icon> £0.00 FREE
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex fxFlex.gt-xs="33%">
    <mat-card>
      <mat-card-title>
        <mat-icon>favorite</mat-icon> Professional
      </mat-card-title>
      <mat-card-subtitle>For small teams</mat-card-subtitle>

      <mat-card-content>
        <mat-list>
          <h3 mat-subheader>Coming soon</h3>
          <mat-list-item>
            <mat-icon matListIcon>verified_user</mat-icon>
            <h4 mat-line>GitHub login</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>lock_open</mat-icon>
            <h4 mat-line>Unlimited public environments</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>new_releases</mat-icon>
            <h4 mat-line>*Unlimited releases</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>sim_card_alert</mat-icon>
            <h4 mat-line>*5 monitors per environment</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>lock</mat-icon>
            <h4 mat-line>3 private environments</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>people_outline</mat-icon>
            <h4 mat-line>Unlimited followers</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>notifications</mat-icon>
            <h4 mat-line>Unlimited notifications</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>compare_arrows</mat-icon>
            <h4 mat-line>Notification webhooks</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>note</mat-icon>
            <h4 mat-line>Badges</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>show_chart</mat-icon>
            <h4 mat-line>Deployments/Releases graphs</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>schedule</mat-icon>
            <h4 mat-line>Scheduled releases</h4>
          </mat-list-item>
        </mat-list>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="accent" [disabled]="true">
          <mat-icon>payment</mat-icon> £10.00 / month / environment
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex fxFlex.gt-xs="33%">
    <mat-card>
      <mat-card-title>
        <mat-icon>business_center</mat-icon> Enterprise
      </mat-card-title>
      <mat-card-subtitle>For large teams</mat-card-subtitle>

      <mat-card-content>
        <mat-list>
          <h3 mat-subheader>Coming soon</h3>
          <mat-list-item>
            <mat-icon matListIcon>verified_user</mat-icon>
            <h4 mat-line>GitHub Login</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>lock_open</mat-icon>
            <h4 mat-line>Unlimited public environments</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>new_releases</mat-icon>
            <h4 mat-line>Unlimited releases</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>sim_card_alert</mat-icon>
            <h4 mat-line>20 monitors per environment</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>lock</mat-icon>
            <h4 mat-line>50 private environments</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>people_outline</mat-icon>
            <h4 mat-line>Unlimited followers</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>notifications</mat-icon>
            <h4 mat-line>Unlimited notifications</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>compare_arrows</mat-icon>
            <h4 mat-line>Notification webhooks</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>note</mat-icon>
            <h4 mat-line>Badges</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>show_chart</mat-icon>
            <h4 mat-line>Deployments/Releases graphs</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>schedule</mat-icon>
            <h4 mat-line>Scheduled releases</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>import_export</mat-icon>
            <h4 mat-line>Export data</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>people</mat-icon>
            <h4 mat-line>User management</h4>
          </mat-list-item>
        </mat-list>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="accent" [disabled]="true">
          <mat-icon>payment</mat-icon> £600 / month
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
