<div class="feature">
  <div class="feature__title" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.lt-md="space-between center">
    <div>Features</div>
    <div *ngIf="isSmallScreen" class="feature__title__toogle" fxLayout="row" fxLayoutGap="5px">
      <span>Monthly</span>
      <span>
        <mat-slide-toggle>Annually</mat-slide-toggle>
      </span>

    </div>
  </div>
  <mat-card class="feature__card" *ngIf="!isSmallScreen; else smallScreenBlock">
    <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="20px">
      <div fxFlex="25%" class="feature__card__column">
        <ng-container *ngTemplateOutlet="menuBlock"></ng-container>
      </div>
      <div fxFlex="25%" class="feature__card__column">
        <ng-container *ngTemplateOutlet="starterBlock"></ng-container>
      </div>
      <div fxFlex="25%" class="feature__card__column">
        <ng-container *ngTemplateOutlet="professionalBlock"></ng-container>
      </div>
      <div fxFlex="25%" class="feature__card__column">
        <ng-container *ngTemplateOutlet="enterpriseBlock"></ng-container>
      </div>
    </div>
  </mat-card>

</div>

<ng-template #smallScreenBlock>
  <mat-tab-group>
    <mat-tab label="Starter">
      <div class="feature__phone">
        <mat-card class="feature__card">
          <ng-container *ngTemplateOutlet="starterBlock"></ng-container>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Professional">
      <div class="feature__phone">
        <mat-card class="feature__card">
          <ng-container *ngTemplateOutlet="professionalBlock"></ng-container>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Enterprise">
      <div class="feature__phone">
        <mat-card class="feature__card">
          <ng-container *ngTemplateOutlet="enterpriseBlock"></ng-container>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-template>


<ng-template #menuBlock>
  <div class="feature__card__menu">
    <div class="feature__card__menu__type">
      <mat-radio-group fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="start start" fxLayoutGap="20px">
        <mat-radio-button class="example-margin" value="monthly">Monthly</mat-radio-button>
        <mat-radio-button class="example-margin" value="monthly">Annualy</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="feature__card__menu__content">
      <div *ngFor="let menu of starter" class="feature__card__menu__content__item">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
          <div>
            <mat-icon svgIcon="{{ menu.icon }}"></mat-icon>
          </div>
          <span class="feature__card__menu__content__item__text">{{ menu.name }}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #starterBlock>
  <div class="feature__card__header">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px" fxLayoutGap.md="5px" class="feature__card__header__starter">
      <span>
        <mat-icon svgIcon="starter_icon" class="feature__card__header__icon"></mat-icon>
      </span>
      <span class="feature__card__header__title">Starter</span>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="feature__card__price">
    <div class="feature__card__price__title">For solo developers
    </div>
    <mat-card class="feature__card__price__card" fxHide.lt-md routerLink="/login">
      <div class="feature__card__price__card__item">£0.00 Free</div>
    </mat-card>
    <div fxHide.gt-sm class="feature__card__price__card__price">£0.00 Free</div>
    <mat-card fxHide.gt-sm class="feature__card__price__card__grey">
      <div class="feature__card__price__card__item">Choose</div>
    </mat-card>
  </div>
  <div class="feature__card__content">
    <div *ngFor="let item of starter" class="feature__card__content__item" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center center">
      <div *ngIf="!isSmallScreen; else smallScreemConentBlock">
        <div *ngIf="chekPackValue(item.value); else stringValue">
          <mat-icon *ngIf="item.value" svgIcon="feature_check_icon">
          </mat-icon>
        </div>
      </div>
      <ng-template #smallScreemConentBlock>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" [ngClass]="{'feature__card__content__item__no-active': !item.value}">
          <div>
            <mat-icon svgIcon="{{ item.icon }}"></mat-icon>
          </div>
          <div [ngClass]="{'feature__card__content__item__no-active': !item.value}">
            <div *ngIf="chekPackValueForString(item.value); else stringValue" class="feature__card__content__item">
              {{ item.name }}
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #stringValue>
        <div>{{ item.value }}</div>
      </ng-template>
    </div>
  </div>
</ng-template>
<ng-template #professionalBlock>
  <div class="feature__card__header">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px" fxLayoutGap.md="5px" class="feature__card__header__professional">
      <span>
        <mat-icon svgIcon="professional_icon" class="feature__card__header__icon"></mat-icon>
      </span>
      <span class="feature__card__header__title">Professional</span>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="feature__card__price">
    <div class="feature__card__price__title">For small teams</div>
    <mat-card class="feature__card__price__card" fxHide.lt-md>
      <div class="feature__card__price__card__item">£10.00 / month</div>
    </mat-card>
    <div fxHide.gt-sm class="feature__card__price__card__price">£10.00 / month</div>
    <mat-card fxHide.gt-sm class="feature__card__price__card__yellow">
      <div class="feature__card__price__card__item">Buy</div>
    </mat-card>
  </div>
  <div class="feature__card__content">
    <div *ngFor="let item of professional" class="feature__card__content__item" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center center">
      <div *ngIf="!isSmallScreen; else smallScreemConentBlock">
        <div *ngIf="chekPackValue(item.value); else stringValue">
          <mat-icon *ngIf="item.value" svgIcon="feature_check_icon">
          </mat-icon>
        </div>
      </div>
      <ng-template #smallScreemConentBlock>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
          <div>
            <mat-icon svgIcon="{{ item.icon }}"></mat-icon>
          </div>
          <div [ngClass]="{'feature__card__content__item__no-active': !item.value}">
            <div *ngIf="chekPackValueForString(item.value); else stringValue" class="feature__card__content__item">
              {{ item.name }}</div>
          </div>
        </div>
      </ng-template>
      <ng-template #stringValue>
        <div>{{ item.value }}</div>
      </ng-template>
    </div>
  </div>
</ng-template>
<ng-template #enterpriseBlock>
  <div class="feature__card__header">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px" fxLayoutGap.md="5px" class="feature__card__header__enterprise">
      <span>
        <mat-icon svgIcon="enterprise_icon" class="feature__card__header__icon"></mat-icon>
      </span>
      <span class="feature__card__header__title">Enterprise</span>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="feature__card__price">
    <div class="feature__card__price__title">For large teams</div>
    <mat-card class="feature__card__price__card" fxHide.lt-md>
      <div class="feature__card__price__card__item">£60.00 / month</div>
    </mat-card>
    <div fxHide.gt-sm class="feature__card__price__card__price">£60.00 / month</div>
    <mat-card fxHide.gt-sm class="feature__card__price__card__orange">
      <div class="feature__card__price__card__item">Buy</div>
    </mat-card>
  </div>
  <div class="feature__card__content">
    <div *ngFor="let item of enterprise" class="feature__card__content__item" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center center">
      <div *ngIf="!isSmallScreen; else smallScreemConentBlock">
        <div *ngIf="chekPackValue(item.value); else stringValue">
          <mat-icon *ngIf="item.value" svgIcon="feature_check_icon">
          </mat-icon>
        </div>
      </div>
      <ng-template #smallScreemConentBlock>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" [ngClass]="{'feature__card__content__item__no-active': !item.value}">
          <div>
            <mat-icon svgIcon="{{ item.icon }}"></mat-icon>
          </div>
          <div [ngClass]="{'feature__card__content__item__no-active': !item.value}">
            <div *ngIf="chekPackValueForString(item.value); else stringValue">
              {{ item.name }}</div>
          </div>
        </div>
      </ng-template>
      <ng-template #stringValue>
        <div>{{ item.value }}</div>
      </ng-template>
    </div>
  </div>
</ng-template>
