<div class="monitor-tokens">
  <div class="monitor-tokens__header" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="5px">
      <span *ngIf="!isSmallScreen" class="token-list__header__content__avatar" matBadgeColor="accent" [matBadge]="project.repositories.length">
        <img [src]="project.logoUrl" matBadgeSize="small" *ngIf="project.logoUrl; else imagePlaceHolder" />
        <ng-template #imagePlaceHolder>
          <mat-icon class="material-icons-outlined purple-color">dashboard</mat-icon>
        </ng-template>
      </span>
      <mat-icon class="material-icons-outlined green-color">{{typeIcon}}</mat-icon>
      <a [routerLink]="['/projects', projectUid]" fxHide.lt-md>{{ project.title }} ></a>
      <div>Tokens</div>
    </div>
    <div>
      <button mat-button class="monitor-tokens__header__add-button" [routerLink]="['create']">
        <mat-icon class="material-icons-outlined white-color">add_to_photos</mat-icon>
        Add token
      </button>
    </div>
  </div>

  <mat-card class="monitor-tokens__card">
    <mat-card-header>
      <div class="monitor-tokens__card__header">
        <mat-icon class="material-icons-outlined white-color">toll</mat-icon>
      </div>
      <mat-card-title class="monitor-tokens__card__title">
        Project tokens
      </mat-card-title>
      <mat-card-subtitle class="monitor-tokens__card__title__subtitle">
        You have {{ tokenList && tokenList.length ? tokenList.length : 0 }} project tokens
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="monitor-tokens__card__content">
      <table mat-table [dataSource]="tokenList" class="monitor-tokens__card__content__table">
        <ng-container matColumnDef="icon">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">
            <div class="monitor-tokens__card__content__table__name">
              {{ element.name }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon [matMenuTriggerFor]="menu" class="monitor-tokens__card__content__table__action">more_horiz</mat-icon>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="[element.uid, 'edit']">
                <mat-icon class="material-icons-outlined blue-color">edit</mat-icon> Edit
              </button>
              <button mat-menu-item (click)="delete(element.uid)">
                <mat-icon class="material-icons-outlined dark-orange-color">delete_outline</mat-icon> Delete
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
