<mat-list>
  <h3 mat-subheader>There are {{ releases.total }} releases</h3>
  <mat-list-item *ngFor="let release of releases.list">
    <mat-icon mat-list-icon>bookmark_border</mat-icon>
    <h4 mat-line><b>{{ release.version }}</b> in state <b>{{ release.latest.state }}</b> by {{ release.token.name }} at {{ release.latest.createdAt | date:'medium' }}</h4>
    <p mat-line *ngIf="release.startBuild  && release.finishDeploy">{{ release.startBuild | timeDifference:release.finishDeploy }}</p>
    <p mat-line *ngIf="!release.startBuild && release.startDeploy && release.finishDeploy">{{ release.startDeploy | timeDifference:release.finishDeploy }}</p>
  </mat-list-item>
</mat-list>
