<div class="mat-content" layout-padding flex>
  <div layout-gt-xs="row" layout-align-gt-xs="center start" class="margin">
    <div flex-gt-xs="50">
      <mat-card class="text-center">
        <mat-card-title>Login</mat-card-title>
        <mat-divider></mat-divider>
        <mat-icon color="accent" class="text-super">vpn_key</mat-icon>
        <div>
          <div class="mat-subheading-2 push-bottom-none">
            <button flex mat-raised-button color="accent" (click)="login()">
              <mat-icon svgIcon="assets:github"></mat-icon>
              GitHub
            </button>
          </div>
          <div class="mat-caption tc-grey-600">Simple & Secure</div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
