<div class="panel panel-default">
    <div class="panel-body">
        <div class="progress">
            <div class="progress-bar" role="progressbar"
                 aria-valuenow="{{ attribute(build.develop.index._embedded.project.metric_values, 'scrutinizer.quality')|number_format(2, '.', ',') * 10 }}" aria-valuemin="0" aria-valuemax="100"
                 style="width: {{ attribute(build.develop.index._embedded.project.metric_values, 'scrutinizer.quality')|number_format(2, '.', ',') * 10 }}%;">
                {{ attribute(build.develop.index._embedded.project.metric_values, 'scrutinizer.quality')|number_format(2, '.', ',') * 10 }}%
            </div>
        </div>
    </div>
    <div class="panel-footer">
        Code Quality <b>{{ attribute(build.develop.index._embedded.project.metric_values, 'scrutinizer.quality')|number_format(2, '.', ',') }}</b>
    </div>
</div>
