{% extends 'base.html.twig' %}

{% block body %}
    <h2>Edit Dashboard</h2>
    <h3>
        {{ dashboard.name }}
        <span class="label label-default theme-badge">{{ attribute(themes, dashboard.theme) }}</span>
    </h3>

    <div class="row">
        <div class="col-md-4">
            {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
        </div>
        <div class="col-md-8">

        </div>
    </div>
{% endblock %}
