<div class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- CONTENT HEADER -->
    <div class="header white-fg p-24" fxLayout="row" fxLayoutAlign="start center">
      <h2>Public Environments</h2>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <div class="main-widget">
        <div class="position-relative p-24 mat-blue-600-bg"
             fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="column" fxLayoutAlign="start start">
            <span class="h2">Environment Releases</span>
            <span class="h5 secondary-text">Total environment releases</span>
          </div>
        </div>

        <div class="position-relative h-256 pb-16 mat-blue-600-bg">
          <canvas baseChart
                  [datasets]="graph.datasets.releases"
                  [labels]="graph.labels"
                  [colors]="graph.colors"
                  [options]="graph.options"
                  [chartType]="graph.chartType">
          </canvas>
        </div>
      </div>

      <!-- CONTENT TOOLBAR -->
      <div class="toolbar px-24 py-8">
        <a mat-button (click)="refresh()"><mat-icon>refresh</mat-icon></a>
        <span>{{ environments.total }} Environments</span>
      </div>
      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <div class="content p-24" fusePerfectScrollbar>

        <app-environment-list [environments]="environments" [profile]="profile"></app-environment-list>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
