@import "../../../../../styles.scss";
@import "../../../../../assets/scss/variable";


.terms {
  padding: 0 30px;
  &__title {
    padding: 30px 0;
    font-size: 20pt;
  }

  &__card {
    max-width: 915px;

    &__header {
      @include header-icon;
      background-color: $orange-2-color;
      box-shadow: 0px 3px 6px $orange-2-color;
    }

    &__title {
      padding-left: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 20px;
      font-weight: lighter;

      &__subtitle {
        @include subtitle;
      }
    }

    &__content {

      &__title {
        font-size: 22pt;
        padding: 15px 0;
      }

      &__text {
        color: $dark-grey-color;
        font-weight: lighter;
        font-size: 18px;
      }
    }

    &__actions {
      padding: 0 10px;

      &__disagree {
        background-color: #AAAAAA;
        color: #fff;
      }
    }
  }
}
