<div fxLayout fxLayout.lt-md="column" class="summary" fxLayoutAlign="space-between " fxLayoutAlign.sm="center" fxLayoutAlign.xs="center">
  <div fxFlex="50" fxLayoutGap="30px" class="summary__valid">
    <mat-card>
      <mat-card-content class="summary__dashboard">
        <h3 class="heading summary__dashboard__card-icon valid-monitor" fxLayout fxLayoutAlign="start center">
          <mat-icon fxFlexOffset="5px" class="summary__dashboard__card-icon__windows" svgIcon="monitor_white_icon"></mat-icon>
          <div fxFlexOffset="5px" fxFlexAlign="center">Latest Valid Ping</div>
        </h3>
        <div class="summary__dashboard__content" *ngIf="!filterBy(true).length">No valid monitors</div>
        <div role="list" class="summary__dashboard__content">
          <div *ngFor="let valid of filterBy(true); first as isFirst">
            <div class="summary__dashboard__content__item" fxLayout="row" fxLayoutGap="10px" [ngClass]="{'summary__dashboard__content__item__first': isFirst}">
              <div fxFlex="10">
                <div class="summary__dashboard__content__item__valid">{{ valid.latestPing.duration }}</div>
              </div>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="space-between start" fxFlex="90" fxLayoutGap="5px">
                <span class="summary__dashboard__content__item__url">{{ valid.latestPing.url }}</span>
                <div>{{ valid.latestPing.statusCode }} | {{ valid.latestPing.duration }}ms |
                  {{ valid.latestPing.type }} | {{ valid.latestPing.createdOn.toDate() | timeAgo }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="50" class="summary__invalid">
    <mat-card>
      <mat-card-content class="summary__dashboard">
        <h3 class="heading summary__dashboard__card-icon invalid-monitor" fxLayout fxLayoutAlign="start center">
          <mat-icon fxFlexOffset="5px" class="summary__dashboard__card-icon__windows" svgIcon="monitor_white_icon"></mat-icon>
          <div fxFlexOffset="5px" fxFlexAlign="center">Latest Invalid Ping</div>
        </h3>
        <div class="summary__dashboard__content" *ngIf="!filterBy(false).length">No invalid monitors</div>
        <div role="list" class="summary__dashboard__content">
          <div *ngFor="let invalid of filterBy(false); first as isFirst">
            <div class="summary__dashboard__content__item" fxLayout="row" [ngClass]="{'summary__dashboard__content__item__first': isFirst}">
              <div fxFlex="10">
                <div class="summary__dashboard__content__item__invalid">{{ invalid.latestPing.duration }}</div>
              </div>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="space-between start" fxFlex="90" fxLayoutGap="5px">
                <span  class="summary__dashboard__content__item__url">{{ invalid.latestPing.url }}</span>
                <div>{{ invalid.latestPing.statusCode }} | {{ invalid.latestPing.duration }}ms |
                  {{ invalid.latestPing.type }} | {{ invalid.latestPing.createdOn.toDate() | timeAgo }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
