<mat-card>
  <mat-card-title>Monitors</mat-card-title>
  <mat-card-subtitle>{{ monitors.length }} monitors</mat-card-subtitle>
  <mat-card-content fxLayout="row">
    <mat-list dense fxFlex="50">
      <h3 mat-subheader>Latest Valid Ping</h3>
      <p *ngIf="!filterBy(true).length">No valid monitors</p>
      <mat-list-item *ngFor="let valid of filterBy(true)">
        <mat-icon mat-list-icon [matBadge]="valid.latestPing.duration" matBadgeColor="success" *ngIf="valid.latestPing.isValid">done</mat-icon>
        <h4 mat-line>{{ valid.latestPing.url }}</h4>
        <p mat-line>{{ valid.latestPing.statusCode }} | {{ valid.latestPing.duration }}ms | {{ valid.latestPing.type }} | {{ valid.latestPing.createdOn.toDate() | timeAgo }} ({{ valid.getTotalPings() }})</p>
      </mat-list-item>
    </mat-list>
    <mat-list dense fxFlex="50">
      <h3 mat-subheader>Latest Invalid Ping</h3>
      <p *ngIf="!filterBy(false).length">No invalid monitors</p>
      <mat-list-item *ngFor="let invalid of filterBy(false)">
        <mat-icon mat-list-icon [matBadge]="invalid.latestPing.duration" matBadgeColor="warn" *ngIf="!invalid.latestPing.isValid">error</mat-icon>
        <h4 mat-line>{{ invalid.latestPing.url }}</h4>
        <p mat-line>{{ invalid.latestPing.statusCode }} | {{ invalid.latestPing.duration }}ms | {{ invalid.latestPing.type }} | {{ invalid.latestPing.createdOn.toDate() | timeAgo }} ({{ invalid.getTotalPings() }})</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
