<div fxLayout fxLayout.lt-md="column" class="summary" fxLayoutAlign="space-between " fxLayoutAlign.sm="center" fxLayoutAlign.xs="center">
  <div fxFlex="50" fxLayoutGap="30px" class="summary__valid">
    <mat-card>
      <mat-card-content class="summary__dashboard">
        <h3 class="heading summary__dashboard__card-icon valid-monitor" fxLayout fxLayoutAlign="start center">
          <mat-icon fxFlexOffset="5px" class="summary__dashboard__card-icon__windows">desktop_windows</mat-icon>
          <div fxFlexOffset="5px" fxFlexAlign="center"> Latest Valid Ping</div>
        </h3>
        <div class="summary__dashboard__content" *ngIf="!filterBy(true).length">No valid monitors</div>
        <mat-list role="list" class="summary__dashboard__content">
          <mat-list-item *ngFor="let valid of filterBy(true)">
            <div class="summary__dashboard__content__item">
              <div fxLayout="row">
                <div class="summary__dashboard__content__item__valid">{{valid.uid}}</div>
                <span>{{ valid.latestPing.url }}</span>
              </div>
              <div>{{ valid.latestPing.statusCode }} | {{ valid.latestPing.duration }}ms | {{ valid.latestPing.type }} | {{ valid.latestPing.createdOn.toDate() | timeAgo }} ({{ valid.getTotalPings() }})</div>
            </div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="50" class="summary__invalid">
    <mat-card>
      <mat-card-content class="summary__dashboard">
        <h3 class="heading summary__dashboard__card-icon invalid-monitor" fxLayout fxLayoutAlign="start center">
          <mat-icon fxFlexOffset="5px" class="summary__dashboard__card-icon__windows">desktop_windows</mat-icon>
          <div fxFlexOffset="5px" fxFlexAlign="center"> Latest Invalid Ping</div>
        </h3>
        <div class="summary__dashboard__content" *ngIf="!filterBy(true).length">No invalid monitors</div>
        <mat-list role="list" class="summary__dashboard__content">
          <mat-list-item *ngFor="let invalid of filterBy(false)">
            <div class="summary__dashboard__content__item">
              <div fxLayout="row">
                <div class="summary__dashboard__content__item__valid">{{invalid.uid}}</div>
                <span>{{ invalid.latestPing.url }}</span>
              </div>
              <div>{{ invalid.latestPing.statusCode }} | {{ invalid.latestPing.duration }}ms | {{ invalid.latestPing.type }} | {{ invalid.latestPing.createdOn.toDate() | timeAgo }} ({{ invalid.getTotalPings() }})</div>
            </div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
