<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            3. Scrutinizer
            <span class="glyphicon glyphicon-info-sign pull-right"></span>
        </h3>
    </div>
    <div class="panel-body">
        <h4>Latest Builds</h4>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Branch</th>
                <th>When</th>
                <th>Result</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>develop</td>
                <td>Sat 21st Feb</td>
                <td>8.9</td>
            </tr>
            <tr>
                <td>develop</td>
                <td>Sat 21st Feb</td>
                <td>8.9</td>
            </tr>
            <tr>
                <td>develop</td>
                <td>Sat 21st Feb</td>
                <td>8.9</td>
            </tr>
            <tr>
                <td>develop</td>
                <td>Sat 21st Feb</td>
                <td>8.9</td>
            </tr>
            <tr>
                <td>develop</td>
                <td>Sat 21st Feb</td>
                <td>8.9</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="panel-footer">
        <p><strong>Last analysis took 2mins 42secs</strong></p>

        <div class="clearfix"></div>
    </div>
</div>
