<app-environments-summary></app-environments-summary>

<div fxLayout="row" fxLayoutWrap="wrap">
  <mat-card *ngFor="let environment of environments.list">
    <mat-card-header>
      <mat-card-title>{{ environment.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p mat-line><mat-icon>description</mat-icon>{{ environment.description || '-' }}</p>
      <p mat-line><mat-icon>link</mat-icon>{{ environment.link || '-' }}</p>
    </mat-card-content>
    <mat-card-actions>
      <td-message *ngIf="!environment.latestRelease" label="-.-" sublabel="No build / deploy" icon="info" color="accent" [opened]="true"></td-message>
      <td-message *ngIf="environment.latestRelease && environment.latestRelease.state === 'startBuild'" label="{{ environment.latestRelease.release }}" sublabel="Started to build code" icon="info" color="accent" [opened]="true"></td-message>
      <td-message *ngIf="environment.latestRelease && environment.latestRelease.state === 'finishBuild'" label="{{ environment.latestRelease.release }}" sublabel="Finished building code" icon="info" color="accent" [opened]="true"></td-message>
      <td-message *ngIf="environment.latestRelease && environment.latestRelease.state === 'startDeploy'" label="{{ environment.latestRelease.release }}" sublabel="Started to deploy" icon="info" color="accent" [opened]="true"></td-message>
      <td-message *ngIf="environment.latestRelease && environment.latestRelease.state === 'finishDeploy'" label="{{ environment.latestRelease.release }}" sublabel="Finished deploying" icon="info" color="accent" [opened]="true"></td-message>
      <p><mat-progress-bar mode="determinate" value="{{ environment.progress }}"></mat-progress-bar></p>
      <p>Last updated {{ environment.updatedAt | amTimeAgo }}</p>
    </mat-card-actions>
  </mat-card>
</div>
