<div class="dialog">
  <h2 mat-dialog-title fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
    <div fxLayoutAlign="space-around center" fxLayoutGap="10px">
      <div>
        <mat-icon svgIcon="repository_icon" class="dialog__header__icon"></mat-icon>
      </div>
      <div>
        {{ data.repositories.data.length || 0 }} | Your repositories
      </div>
    </div>
    <div>
      <div *ngIf="data.repositories.lastUpdated">
        <div class="dialog__header__update">
          <span fxHide.xs>Last updated</span>
          {{ data.repositories.lastUpdated.toDate() | timeAgo }}
        </div>
      </div>
    </div>
  </h2>
  <mat-divider></mat-divider>
  <div mat-dialog-content class="dialog__content">
    <mat-selection-list #repos>
      <mat-list-option *ngFor="let repository of data.repositories.data" [value]="repository"
        [selected]="data.project.repositories.includes(repository.uid)">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
          <span>
            <mat-icon *ngIf="repository.private" svgIcon="private_icon"></mat-icon>
            <mat-icon *ngIf="!repository.private" svgIcon="public_icon"></mat-icon>
          </span>
          <span>
            <div class="dialog__content__name">{{ repository.fullName }}</div>
            <div class="dialog__content__description">{{ repository.description }}</div>
          </span>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <mat-divider>
  </mat-divider>
  <div mat-dialog-actions fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="10px">
    <button mat-stroked-button type="button" (click)="dialogRef.close()" color="accent">CANCEL</button>
    <button mat-raised-button type="button" (click)="dialogRef.close(repos.selectedOptions.selected)"
      color="warn">CONFIRM</button>
  </div>
</div>
