@import "../../../../assets/scss/variable";
@import "../../../../assets/scss/mixin.scss";

.dialog {

  &__header {
    &__title {
      font-size: 22px;
    }

    &__icon {
      transform: scale(1.5);
    }

    &__update {
      font-size: 14px;
      font-weight: lighter;
      color: $dark-grey-color;
    }
  }

  &__content {
    padding: 20px 20px;
    height: 40vh;

    &__name {
      font-size: 20px;
      @include ellipsisText;
      max-width: 60vw;
      font-weight: 300;
    }

    &__description {
      @include ellipsisText;
      max-width: 60vw;
      font-size: 14px;
      font-weight: lighter;
      color: $dark-grey-color;
    }

    @media (max-width: $breakpoint-xs) {

      &__name {
        width: 35vw;
      }

      &__description {
        width: 35vw;
      }
    }
  }
}
