{% extends "::base.html.twig" %}

{% block body %}

    {% block fos_user_content %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
        
        <form novalidate action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group">
                <label for="username">{% trans %}login.form.username.label{% endtrans %}</label>
                <input type="email" class="form-control" id="username"
                       name="_username" value="{{ last_username }}" required="required">
            </div>
            <div class="form-group">
                <label for="password">{% trans %}login.form.password.label{% endtrans %}</label>
                <input type="password" class="form-control" id="password"
                       name="_password" required="required">
            </div>

            <button type="submit" class="btn btn-default" id="_submit"
                    name="_submit">{% trans %}login.form.login.label{% endtrans %}</button>
        </form>
    {% endblock fos_user_content %}

{% endblock body %}
