<div class="darkblue-panel pn">
    <div class="darkblue-header">
        <h5>TRAVIS CI <span class="badge">{{ builds|length }}</span></h5>
    </div>

    <div class="chart mt">
        <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1"
             data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff"
             data-spot-radius="4" data-data="{{ graph.y }}">
            <canvas width="304" height="75"
                    style="display: inline-block; width: 304px; height: 75px; vertical-align: top;"></canvas>
        </div>
    </div>

    <p class="mt"><b>{{ builds.0.duration }} seconds</b><br>Latest Build Duration</p>

    <div class="clearfix"></div>
</div>
