<div class="darkblue-panel pn">
    <div class="darkblue-header">
        <h5>TRAVIS CI <span class="badge">{{ builds|length }}</span></h5>
    </div>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Branch</th>
            <th>When</th>
            <th>Duration (s)</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for build in builds %}
            {% if build.result == 0 %}
                <tr class="success">
            {% else %}
                <tr class="danger">
            {% endif %}
            <td>{{ build.branch }}</td>
            <td>{{ build.finished_at|ago }}</td>
            <td>{{ build.duration|default('building') }}</td>
            <td>
                {% if build.result == 0 %}
                    <span class="glyphicon glyphicon-ok"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove"></span>
                {% endif %}
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="clearfix"></div>
</div>
