<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">
            2. Travis CI
            <span class="glyphicon glyphicon-remove pull-right"></span>
        </h3>
    </div>
    <div class="panel-body">
        <h4>Latest Builds</h4>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Branch</th>
                <th>When</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr class="danger">
                <td>feature A</td>
                <td>Sat 21st Feb</td>
                <td><span class="glyphicon glyphicon-remove pull-right"></span></td>
            </tr>
            <tr class="success">
                <td>develop</td>
                <td>Sat 21st Feb</td>
                <td><span class="glyphicon glyphicon-ok pull-right"></span></td>
            </tr>
            <tr class="success">
                <td>develop</td>
                <td>Sat 21st Feb</td>
                <td><span class="glyphicon glyphicon-ok pull-right"></span></td>
            </tr>
            <tr class="success">
                <td>develop</td>
                <td>Sat 21st Feb</td>
                <td><span class="glyphicon glyphicon-ok pull-right"></span></td>
            </tr>
            <tr class="success">
                <td>develop</td>
                <td>Sat 21st Feb</td>
                <td><span class="glyphicon glyphicon-ok pull-right"></span></td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="panel-footer">
        <p><strong>Last build duration 2mins 42secs</strong></p>

        <div class="clearfix"></div>
    </div>
</div>
