<div class="page-layout carded fullwidth single-scroll" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- CONTENT HEADER -->
    <div class="header white-fg p-24" fxLayout="row" fxLayoutAlign="start center">
      <h2>Your Environments</h2>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <!-- CONTENT TOOLBAR -->
      <div class="toolbar px-24 py-8">
        <a mat-button (click)="refresh()"><mat-icon>refresh</mat-icon></a>
        <span>{{ environments.total }} Environments</span>
      </div>
      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <div class="content p-24" fusePerfectScrollbar>

        <app-environment-list [environments]="environments" [profile]="profile"></app-environment-list>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
