<div class="mat-content">
    <mat-card>
        <mat-card-header>
            <mat-card-title>My Projects</mat-card-title>
            <mat-card-subtitle>You have {{ projects.length }} projects</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mat-list>
                <h3 mat-subheader>Projects</h3>
                <mat-list-item *ngFor="let project of projects">
                    <mat-icon mat-list-icon matBadge="15" matBadgeColor="accent">developer_board</mat-icon>
                    <h4 mat-line>{{ project.title }}</h4>
                    <p mat-line>{{ project.description }}</p>
                    <span fxFlex></span>
                    <p>{{ project.updatedOn.toDate() | timeAgo }}</p>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
