<div class="monitor-ping">
  <div class="monitor-ping__header" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
      <a [routerLink]="['/projects', projectUid]" *ngIf="!isSmallScreen">
        Project >
      </a>
      <a [routerLink]="['/projects', projectUid, 'monitors']">Monitors ></a>
      <span>Pings</span>
    </div>
  </div>
  <mat-card class="monitor-ping__card">
    <mat-card-header>
      <div class="monitor-ping__card__header">
        <mat-icon svgIcon="ping_white_icon"></mat-icon>
      </div>
      <mat-card-title class="monitor-ping__card__title">
        Pings
      </mat-card-title>
      <mat-card-subtitle class="monitor-ping__card__title__subtitle">
        You have {{ pings.length }} pings
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="monitor-ping__card__content">
      <table mat-table [dataSource]="pings" class="monitor-ping__card__content__table">
        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef>Url</th>
          <td mat-cell *matCellDef="let element">
            <div fxLayout.xs="column">
              <span class="monitor-ping__card__content__table__url">{{ element.url }}</span>
              <span fxHide.gt-xs fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <span>
                  <mat-icon svgIcon="time_icon"></mat-icon>
                </span>
                <span>{{ element.createdOn.toDate() | timeAgo }} </span>
              </span>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="statusCode">
          <th mat-header-cell *matHeaderCellDef>Status Code</th>
          <td mat-cell *matCellDef="let element">
            <span fxLayoutAlign.xs="center center">{{ element.statusCode }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef>Duration</th>
          <td mat-cell *matCellDef="let element">{{ element.duration }}ms</td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Last ping</th>
          <td mat-cell *matCellDef="let element">
            <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <span>
                <mat-icon svgIcon="time_icon"></mat-icon>
              </span>
              <span>{{ element.createdOn.toDate() | timeAgo }}</span>
            </span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
