<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Profile:: PipelineDashboard</title>
</head>
<body>

<div layout:fragment="content" class="container">

    <div class="row">
        <div id="lastLoggedIn" class="alert alert-warning" role="alert" th:if="${user.lastLoggedIn != null}">
            Last logged in at <strong th:text="${user.lastLoggedIn}"></strong>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Audit Date</th>
                        <th>User</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Last Logged In</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="revision : ${revisions}" class="revision">
                        <th scope="row" th:text="${revision.getRevisionDate()}"></th>
                        <td th:text="${revision.getEntity().createdByUser}"></td>
                        <td th:text="${revision.getEntity().name}"></td>
                        <td th:text="${revision.getEntity().email}"></td>
                        <td th:text="${revision.getEntity().lastLoggedIn}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>
