<div fxLayout="row" fxLayoutAlign="start center" class="header">
  <div class="header__title">Add Project</div>
</div>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
  <form (submit)="save()" [formGroup]="projectForm">
    <mat-card class="card">
      <mat-card-header>
        <div class="card__header">
          <mat-icon svgIcon="create_project_icon"></mat-icon>
        </div>
        <mat-card-title class="card__title"> <span *ngIf="!isEdit">Create</span> <span *ngIf="isEdit"> Edit </span> Project</mat-card-title>
        <mat-card-subtitle class="card__title__subtitle">Group your repositories into a project view</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>

      <mat-card-content fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.xs="center center" fxLayoutGap="40px" class="card__content__type">
          <label class="card__content__type__title">Type*</label>
          <mat-radio-group formControlName="type" fxFlex.xs="100%" class="card__content__type__value" required xLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <mat-radio-button value="public">
              <mat-icon svgIcon="public_icon"></mat-icon>Public
            </mat-radio-button>
            <mat-radio-button value="private">
              <mat-icon svgIcon="private_icon"></mat-icon>Private
            </mat-radio-button>
          </mat-radio-group>

        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-error *ngIf="projectForm.get(['type']).hasError('required')">This field is required.</mat-error>
        </div>
        <mat-form-field>
          <input matInput type="text" placeholder="Title" formControlName="title" required>
          <mat-error *ngIf="projectForm.get(['title']).hasError('required')">This field is required.</mat-error>
          <mat-error *ngIf="projectForm.get(['title']).hasError('minlength')">Entered text is too short.</mat-error>
          <mat-error *ngIf="projectForm.get(['title']).hasError('maxlength')">Entered text is too long.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Description" formControlName="description">
          <mat-error *ngIf="projectForm.get(['description']).hasError('minlength')">
            Entered text is too short.
          </mat-error>
          <mat-error *ngIf="projectForm.get(['description']).hasError('maxlength')">
            Entered text is too long.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="url" placeholder="Url" formControlName="url" pattern="https?://.+">
          <mat-error *ngIf="projectForm.get(['url']).hasError('pattern')">
            Please enter correct URL
          </mat-error>
        </mat-form-field>

      </mat-card-content>

      <mat-divider></mat-divider>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
          <button mat-stroked-button type="button" routerLink="../" color="warn">Cancel</button>
          <button mat-raised-button type="submit" color="accent" [disabled]="projectForm.invalid">
            <span *ngIf="!isEdit">Create</span>
            <span *ngIf="isEdit">Save</span>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
