<div class="create-project">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="create-project__title">Add Project</div>
  </div>
  <div>
    <form (submit)="save()" [formGroup]="projectForm">
      <mat-card class="create-project__card">
        <mat-card-header>
          <div class="create-project__card__header">
            <mat-icon svgIcon="create_project_icon"></mat-icon>
          </div>
          <mat-card-title class="create-project__card__title"> <span *ngIf="!isEdit">Create</span><span *ngIf="isEdit">Edit</span> Project</mat-card-title>
          <mat-card-subtitle class="create-project__card__title__subtitle">Group your repositories into a project view</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content fxLayout="column" fxLayoutGap="10px">
          <div class="create-project__card__content__type">
            <label class="create-project__card__content__type__title">Type*</label>
            <mat-radio-group formControlName="type" fxFlex.xs="100%" class="create-project__card__content__type__value" required xLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
              <mat-radio-button value="public">
                <mat-icon svgIcon="public_icon"></mat-icon>Public
              </mat-radio-button>
              <mat-radio-button value="private">
                <mat-icon svgIcon="private_icon"></mat-icon>Private
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-error *ngIf="projectForm.get(['type']).hasError('required')">This field is required.</mat-error>
          </div>
          <mat-form-field>
            <input matInput type="text" placeholder="Title" formControlName="title" required>
            <mat-error *ngIf="projectForm.get(['title']).hasError('required')">This field is required.</mat-error>
            <mat-error *ngIf="projectForm.get(['title']).hasError('minlength')">Entered text is too short.</mat-error>
            <mat-error *ngIf="projectForm.get(['title']).hasError('maxlength')">Entered text is too long.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Description" formControlName="description">
            <mat-error *ngIf="projectForm.get(['description']).hasError('minlength')">
              Entered text is too short.
            </mat-error>
            <mat-error *ngIf="projectForm.get(['description']).hasError('maxlength')">
              Entered text is too long.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="url" placeholder="Url" formControlName="url" pattern="https?://.+">
            <mat-error *ngIf="projectForm.get(['url']).hasError('pattern')">
              Please enter correct URL
            </mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
            <button mat-stroked-button type="button" routerLink="/projects" color="warn">Cancel</button>
            <button mat-raised-button type="submit" color="accent" [disabled]="projectForm.invalid">
              <span *ngIf="!isEdit">Create</span>
              <span *ngIf="isEdit">Save</span>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
