<div id="contacts" class="page-layout simple left-sidenav inner-sidenav">

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start"
       fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

    <!-- APP TITLE -->
    <div fxLayout="row" fxLayoutAlign="start center">

      <button mat-button class="mat-icon-button sidenav-toggle mr-12"
              fuseMatSidenavToggler="contacts-main-sidenav"
              fxHide.gt-md>
        <mat-icon>menu</mat-icon>
      </button>

      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16 red-A700-fg" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">mode_edit</mat-icon>
        <span class="logo-text h1 red-A700-fg" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Edit</span>
      </div>

    </div>
    <!-- / APP TITLE -->

  </div>
  <!-- / HEADER -->

  <!-- SELECTED BAR -->
  <!--<fuse-selected-bar class="mat-accent-600-bg" *ngIf="hasSelectedContacts" [@slideInTop]></fuse-selected-bar>-->
  <!-- / SELECTED BAR -->

  <mat-sidenav-container>

    <!-- SIDENAV -->
    <mat-sidenav class="sidenav" align="start" opened="true" mode="side" fuseMatSidenavHelper="contacts-main-sidenav" mat-is-locked-open="gt-sm">
      <environment-sidenav [environment]="environment"></environment-sidenav>
    </mat-sidenav>
    <!-- / SIDENAV -->

    <!-- CENTER -->
    <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>

      <!-- CONTENT -->
      <div class="content mat-white-bg mat-elevation-z4 p-24">

        <form #form="ngForm" class="form-full">
          <!--<td-message label="Info"-->
          <!--sublabel="The environment type is used for the deployment workflow. Build only will have two steps, 'start' and 'finish' build. Deploy only will only have two steps, 'start' and 'finish' deploy. Build and deploy will have all four steps."-->
          <!--color="accent" icon="info"></td-message>-->
          <div fxLayout="column">
            <mat-radio-group #type="ngModel" name="type" [(ngModel)]="environment.type" [required]="true" fxLayout="column"
                             fxLayoutGap="10px" class="mb-36">
              <p>Select your type of environment: <mat-hint>(this can be changed at any time)</mat-hint></p>
              <mat-radio-button value="build">1. Build Only
                <mat-hint>(this will only have 2 steps, 'start' and 'finish' build.
                  Typical usage would be creating a tag or release asset)</mat-hint>
              </mat-radio-button>
              <mat-radio-button value="deploy">2. Deploy Only
                <mat-hint>(this will only have 2 steps, 'start' and 'finish' deploy.
                  Typical usage would be when doing a manual deploy)</mat-hint>
              </mat-radio-button>
              <mat-radio-button value="build-deploy">3. Build and Deploy
                <mat-hint>(this will have option 1 and 2 together. Typical
                  usage would be creating releasable package and deploying it)</mat-hint>
              </mat-radio-button>

              <div *ngIf="type.errors && !form.valid && form.touched">
                <mat-error *ngIf="type.errors.required">
                  Type is required
                </mat-error>
              </div>
            </mat-radio-group>
            <mat-form-field>
              <input matInput class="form-control" placeholder="Environment Title (e.g. DashboardHub Testing)"
                     required minlength="3" maxlength="32"
                     name="title" [(ngModel)]="environment.title"
                     #title="ngModel">
              <div *ngIf="title.errors && (title.dirty || title.touched)">
                <mat-error *ngIf="title.errors.required">
                  Title is required
                </mat-error>
                <mat-error *ngIf="title.errors.minlength">
                  Title must be at least 3 characters long.
                </mat-error>
                <mat-error *ngIf="title.errors.maxlength">
                  Title cannot be more than 32 characters long.
                </mat-error>
              </div>
            </mat-form-field>
            <mat-form-field>
              <input matInput class="form-control" placeholder="Logo URL(e.g. https://cdn.dashboardhub.io/icon-only-orange-120x120.png)"
                     minlength="3" maxlength="1024"
                     name="logo" [(ngModel)]="environment.logo"
                     #logo="ngModel">
              <div *ngIf="logo.errors && (logo.dirty || title.touched)">
                <mat-error *ngIf="title.errors.minlength">
                  Title must be at least 3 characters long.
                </mat-error>
                <mat-error *ngIf="title.errors.maxlength">
                  Title cannot be more than 1024 characters long.
                </mat-error>
              </div>
            </mat-form-field>
            <mat-form-field>
              <input matInput class="form-control"
                     placeholder="Link to your environment (e.g. https://pipeline.dashboardhub.io"
                     minlength="3" maxlength="128"
                     name="link" [(ngModel)]="environment.link"
                     #link="ngModel">
              <div *ngIf="link.errors && (link.dirty || link.touched)">
                <mat-error *ngIf="link.errors.minlength">
                  Link must be at least 3 characters long.
                </mat-error>
                <mat-error *ngIf="link.errors.maxlength">
                  Link cannot be more than 128 characters long.
                </mat-error>
              </div>
            </mat-form-field>
            <mat-form-field>
              <input matInput class="form-control" placeholder="Description of the environment (e.g. Testing environment for DashboardHub)"
                     minlength="3" maxlength="128"
                     name="description" [(ngModel)]="environment.description"
                     #description="ngModel">
              <div *ngIf="description.errors && (description.dirty || description.touched)">
                <mat-error *ngIf="description.errors.minlength">
                  Description must be at least 3 characters long.
                </mat-error>
                <mat-error *ngIf="description.errors.maxlength">
                  Description cannot be more than 128 characters long.
                </mat-error>
              </div>
            </mat-form-field>
            <mat-checkbox [disabled]="true" value="false">Is private
              <mat-icon matTooltip="During ALPHA private is not allowed">info</mat-icon>
            </mat-checkbox>
          </div>
          <div class="mt-36">
            <a mat-button routerLink="/environment/list">CANCEL</a>
            <button mat-button color="primary"
                    [disabled]="!form.valid"
                    (click)="save()">SAVE
            </button>
          </div>
        </form>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

  </mat-sidenav-container>

</div>
