@import "../../../../styles.scss";
@import "../../../../assets/scss/variable";

.profile {
  @include pageContainer;

  &__title {
    @include pageHeader;
  }

  &__card {
    @include cardContainer;

    &__header {
      @include header-icon;
      background: none;
      box-shadow: none;
      padding: 0;

      &__avatar {
        width: 65px;
        height: 65px;
        border: 1px solid $orange-2-color;
        border-radius: 5px;
        box-shadow: 0px 3px 6px $orange-2-shadow;
      }
    }

    &__title {
      @include title;

      &__subtitle {
        @include subtitle;
      }
    }

    &__content {
      &__title {
        font-size: 18px;
        color: $dark-grey-color;
        font-weight: lighter;
        padding: 16px 0px;
      }

      &__table {
        width: 100%;
        font-weight: lighter;

        &__title {
          min-width: 15vh;
        }

        &__icon {
          min-width: 1vh;
        }

        @media (max-width: $breakpoint-md) {
          &__title {
            @include ellipsisText;
            color: $dark-grey-color;
            max-width: 30vh;
            min-width: 0vh;

            &__main {
              @include ellipsisText;
              color: $dark-grey-3-color;
              max-width: 30vh;
              min-width: 0vh;
            }
          }
        }

        @media (max-width: $breakpoint-xs) {
          &__title {
            @include ellipsisText;
            color: $dark-grey-color;
            max-width: 24vh;
            min-width: 0vh;

            &__main {
              @include ellipsisText;
              color: $dark-grey-3-color;
              max-width: 24vh;
              min-width: 0vh;
            }
          }
        }
      }
    }
  }
}
