<div class="profile">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="profile__title">Profile</div>
  </div>
  <mat-card class="profile__card">
    <mat-card-header>
      <div class="profile__card__header">
        <img class="profile__card__header__avatar" [src]="profile.avatarUrl" />
      </div>
      <mat-card-title class="profile__card__title">
        {{ profile.username }}
      </mat-card-title>
      <mat-card-subtitle class="profile__card__title__subtitle">
        {{ profile.email }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="profile__card__content">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
              <mat-icon svgIcon="overwiew_icon"></mat-icon>
              <div>Overview</div>
            </div>
          </ng-template>
          <div class="profile__card__content__container">
            <div class="profile__card__content__title">GitHub activity</div>
            <table mat-table [dataSource]=" profile.activity" class="profile__card__content__table">
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let element">
                  <div class="profile__card__content__table__title__main" fxLayout="row" fxLayoutAlign="start center">
                    <span fxLayoutGap.gt-xs="15px" fxLayout="row">
                      <div>
                        <mat-icon *ngIf="!isSmallScreen" mat-list-icon svgIcon="check_icon"></mat-icon>
                      </div>
                      <div class="profile__card__content__table__title__main__event">{{ element.type }}
                        {{ element.payload.title }}
                      </div>
                    </span>
                  </div>
                  <div *ngIf="isSmallScreen" class="profile__card__content__table__title">
                    {{ element.repository.fullName }}
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element"> <div class="profile__card__content__title__event">{{ element.repository.fullName }}</div></td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
              <mat-icon svgIcon="repository_icon"></mat-icon>
              <div>{{ profile.repositories.data.length }} | Repositories</div>
            </div>
          </ng-template>
          <div class="profile__card__content__container">
            <div class="profile__card__content__title">Last updated
              {{ profile.repositories.lastUpdated.toDate() | timeAgo }}
            </div>
            <table mat-table [dataSource]="profile.repositories.data" class="profile__card__content__table">
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let element">
                  <div class="profile__card__content__table__title__main" fxLayout="row" fxLayoutAlign="start center"
                    fxLayoutGap="15px">
                    <div *ngIf="!isSmallScreen">
                      <mat-icon mat-list-icon *ngIf="element.private" svgIcon="private_icon"></mat-icon>
                      <mat-icon mat-list-icon *ngIf="!element.private" svgIcon="public_icon"></mat-icon>
                    </div>
                    <div class="profile__card__content__table__title__main__title">{{ element.fullName }}</div>
                  </div>
                  <div *ngIf="isSmallScreen" class="profile__card__content__table__title">
                    {{ element.description }}
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">{{ element.description }}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
              <mat-icon svgIcon="security_icon"></mat-icon>
              <div>{{ logins.length }}| Security</div>
            </div>
          </ng-template>
          <div class="profile__card__content__container">
            <div class="profile__card__content__title">Login history</div>
            <table mat-table [dataSource]="logins" class="profile__card__content__table">
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let element">
                  <div class="profile__card__content__table__title" fxLayout="row" fxLayoutAlign="start center"
                    fxLayoutGap="15px">
                    <div *ngIf="!isSmallScreen">
                      <mat-icon mat-list-icon svgIcon="security_icon"></mat-icon>
                    </div>
                    <span *ngIf="isSmallScreen">last login:</span>
                    <span>{{ element.date.toDate() | timeAgo }}</span>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">
                  <div>
                    {{ element.userAgent }}, {{ element.device }}, {{ element.os }}, {{ element.osVersion }},
                    {{ element.browser }}, {{ element.browserVersion }}
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
