<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>DashboardHub:: PipelineDashboard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" />
    <link rel="stylesheet"
          th:href="@{/css/tether.min.css}"
          href="../../css/tether.min.css" />
    <link rel="stylesheet"
          th:href="@{/css/app.css}"
          href="../../css/app.css" />

    <script th:href="@{/js/jquery.min.js}"
            src="../../js/jquery.min.js"></script>
    <script th:href="@{/js/tether.min.js}"
            src="../../js/tether.min.js"></script>
    <script th:href="@{/js/bootstrap.min.js}"
            src="../../js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
        &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="navbar-header">
        <a class="navbar-brand" href="/">PipelineDashboard</a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:action="@{/}" href="/">Home</a>
            </li>
            <li class="nav-item" th:if="${currentUser.username}">
                <a class="nav-link" id="username" th:text="${currentUser.username}" th:action="@{/project}" href="/project">My Projects</a>
            </li>
            <li class="nav-item" th:if="${currentUser.username}">
                <form method="post" action="/logout" th:action="@{/logout}">
                    <input type="submit" class="btn btn-primary" value="Logout" />
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                </form>
            </li>
            <li class="nav-item" th:unless="${currentUser.username}">
                <a class="nav-link" th:action="@{/login}" href="/login">Welcome Guest, please Login</a>
            </li>
        </ul>
    </div>
</nav> <!-- /navbar -->


<div class="alert alert-warning" role="alert">
    <strong>Prototype v0.3</strong> Currently in Prototype 2
</div>

<div class="alert alert-danger" role="alert" th:if="${error != null}">
    <strong>Error!</strong> <span th:text="${error}"></span>
</div>

<div layout:fragment="content">
    Layout
</div>

</body>
</html>
