<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button [routerLink]="['/environments', environmentId]">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <span flex></span>
    <button mat-button (click)="refresh()" matTooltip="Refresh data"><mat-icon class="tc-green-A700">refresh</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="mat-content" layout-padding flex>
  <mat-card>
    <mat-card-title>Tokens</mat-card-title>
    <mat-card-subtitle>You have <b>{{ tokens.total }}</b>. Treat these like passwords</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-list class="pad-bottom-lg">
      <mat-list-item layout-align="row">
        <td-dynamic-forms [elements]="form.elements" #dynamicForm flex="80">
          <ng-template let-element ngFor [ngForOf]="form.elements">
            <ng-template let-control="control" [tdDynamicFormsError]="element.name">
            <span *ngIf="control.touched || !control.pristine">
              <span *ngIf="control.hasError('required')">Required</span>
              <span *ngIf="control.hasError('min')">Min value: {{element.min}}</span>
              <span *ngIf="control.hasError('max')">Max value: {{element.max}}</span>
              <span *ngIf="control.hasError('minlength')">Min length value: {{element.minLength}}</span>
              <span *ngIf="control.hasError('maxlength')">Max length value: {{element.minLength}}</span>
            </span>
            </ng-template>
          </ng-template>
        </td-dynamic-forms>
        <button mat-button color="accent" (click)="submit(dynamicForm)" flex="20" [disabled]="!dynamicForm.valid">Submit</button>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-list class="will-load item-list">
      <ng-template tdLoading="items.load">
        <ng-template let-token let-last="last" ngFor [ngForOf]="tokens.list">
          <mat-list-item layout-align="row">
            <h3 matLine>{{ token.name }}</h3>
            <p matLine>{{ token.idMasked }}</p>
            <span flex></span>
            <span class="mat-caption text-right" flex="30" layout-align="row" *ngIf="token.notUsed">
              <h3>{{ token.lastUsed | timeAgo }}</h3>
            </span>
            <span class="mat-caption text-right" flex="30" layout-align="row" *ngIf="!token.notUsed">
              <p>Not used</p>
            </span>
            <span class="mat-caption text-right" flex="30" layout-align="row">
              <button mat-button (click)="unMask(token)" matTooltip="Show token key"><mat-icon class="tc-orange-A700">remove_red_eye</mat-icon></button>
              <button mat-button (click)="delete(token)" matTooltip="Delete token"><mat-icon class="tc-red-A400">delete</mat-icon></button>
            </span>
          </mat-list-item>
          <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
        </ng-template>
      </ng-template>
    </mat-list>
  </mat-card>
</div>
