<mat-toolbar class="mat-elevation-z2" fxLayout="row" fxLayoutGap="10px">
    <a mat-icon-button [routerLink]="['/environments', environmentId]"><mat-icon>arrow_back</mat-icon></a>
    <span fxFlex></span>
    <button mat-icon-button (click)="refresh()" matTooltip="Refresh data"><mat-icon>refresh</mat-icon></button>
</mat-toolbar>

<div class="mat-content" fxLayout="column" fxLayoutGap="20px">

    <form (submit)="submitToken()" [formGroup]="tokensForm" fxLayout="column" fxLayoutGap="20px">
        <mat-card>
            <mat-card-title>Tokens</mat-card-title>
            <mat-card-subtitle>
                You have <b>{{ tokens.total }}</b> tokens. Treat these like passwords.
                Tokens allow you to link your Continuous Integration service with DashboardHub to communicate your build / deploy status.
                To view an example usage of the token, click the icon <mat-icon color="primary">touch_app</mat-icon> within the list below.
            </mat-card-subtitle>

            <mat-card-content fxLayout="column" fxLayout="row" fxLayoutGap="20px">
                <mat-form-field fxFlex fxFlex.gt-sm="80%">
                    <input matInput type="text" placeholder="Name" formControlName="name" required>
                    <mat-error *ngIf="tokensForm.get(['name']).hasError('required')">This field is required.</mat-error>
                    <mat-error *ngIf="tokensForm.get(['name']).hasError('minlength')">Entered text is too short.</mat-error>
                    <mat-error *ngIf="tokensForm.get(['name']).hasError('maxlength')">Entered text is too long.</mat-error>
                </mat-form-field>

                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" fxFlex="initial" fxFlex.gt-sm="20%">
                    <button mat-raised-button type="submit" color="accent" [disabled]="tokensForm.invalid" fxFlex="initial" fxFlex.gt-sm="100%">Create</button>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card *ngIf="tokens.list.length">
            <mat-card-title>Tokens</mat-card-title>
            <mat-card-subtitle>Available tokens</mat-card-subtitle>

            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let token of tokens.list">
                        <mat-icon matListIcon>new_releases</mat-icon>
                        <h3 matLine>{{ token.name }}</h3>
                        <p matLine fxHide.xs fxHide.sm>{{ token.idMasked }}</p>
                        <span fxFlex></span>
                        <div class="mat-caption" fxLayout="column" fxFlex="20%" fxLayoutAlign="end center" fxHide.xs fxHide.sm>
                            <div *ngIf="token.lastUsed">{{ token.lastUsed | timeAgo }}</div>
                            <div *ngIf="!token.lastUsed">Not used</div>
                        </div>
                        <div class="mat-caption" fxLayout="row" fxFlex="60%" fxLayoutAlign="end center" fxLayoutGap="10px">
                            <button mat-icon-button type="button" (click)="curlDialog(token)" matTooltip="Example usage"><mat-icon color="primary">touch_app</mat-icon></button>
                            <button mat-icon-button type="button" (click)="unMask(token)" matTooltip="Show token key" fxHide.xs fxHide.sm><mat-icon color="accent">remove_red_eye</mat-icon></button>
                            <button mat-icon-button type="button" (click)="deleteDialog(token)" matTooltip="Delete token"><mat-icon color="warn">delete</mat-icon></button>
                        </div>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </form>
</div>
