<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">
            Latest Events <span class="badge">{{ events|length }}</span>
            <span class="glyphicon glyphicon-ok pull-right"></span>
        </h3>
    </div>
    <div class="panel-body">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Type</th>
                <th>When</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.type }}</td>
                    <td>{{ event.created_at|ago }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <p><strong>Last activity {{ events.0.created_at|ago }}</strong></p>

        <div class="clearfix"></div>
    </div>
</div>
