<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">
            1. Github
            <span class="glyphicon glyphicon-ok pull-right"></span>
        </h3>
    </div>
    <div class="panel-body">
        <h4>Latest Events</h4>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Type</th>
                <th>Who</th>
                <th>When</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Issue</td>
                <td>Eddie J</td>
                <td>Sat 21st Feb</td>
            </tr>
            <tr>
                <td>Comment</td>
                <td>Eddie J</td>
                <td>Sun 22st Feb</td>
            </tr>
            <tr>
                <td>Branch</td>
                <td>Eddie J</td>
                <td>Sun 22st Feb</td>
            </tr>
            </tbody>
        </table>

        <h4>Pull Requests</h4>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Branch</th>
                <th>Who</th>
                <th>When</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>develop</td>
                <td>Eddie J</td>
                <td>Sat 21st Feb</td>
            </tr>
            <tr>
                <td>develop</td>
                <td>Eddie J</td>
                <td>Sat 21st Feb</td>
            </tr>
            <tr>
                <td>develop</td>
                <td>Eddie J</td>
                <td>Sat 21st Feb</td>
            </tr>
            </tbody>
        </table>

        <h4>Issues</h4>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Title</th>
                <th>Who</th>
                <th>When</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Bug abc...</td>
                <td>Eddie J</td>
                <td>Sat 21st Feb</td>
            </tr>
            <tr>
                <td>Bug abc...</td>
                <td>Eddie J</td>
                <td>Sat 21st Feb</td>
            </tr>
            <tr>
                <td>Bug abc...</td>
                <td>Eddie J</td>
                <td>Sat 21st Feb</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <p><strong>Last activity on Monday 10th Feb</strong></p>

        <div class="clearfix"></div>
    </div>
</div>
