<div class="box1">
    <span class="mega-octicon octicon-issue-opened"></span>
    <h3>
        {% if issues|length > 99 %}
            100+ !!!
        {% else %}
            {{ issues|length }}
        {% endif %}
    </h3>
</div>
<p>Issues</p>
