<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" role="navigation" mode="over">
    <div class="heading" fxLayout="column" fxLayoutGap="5px">
      <img *ngIf="isAuthenticated()" src="{{ getProfile().avatarUrl }}" />
      <mat-icon *ngIf="!isAuthenticated()">person</mat-icon>
      <div class="mat-subheading-2">{{ isAuthenticated() ? getProfile().name : 'Guest' }}</div>
      <div class="mat-caption">{{ isAuthenticated() ? getProfile().email : 'Not logged in' }}</div>
    </div>

    <mat-nav-list>
      <ng-container *ngFor="let item of publicRoutes">
        <a mat-list-item [routerLink]="[item.route]" (click)="drawer.close()">
          <mat-icon>{{ item.icon }}</mat-icon>
          {{ item.title }}
        </a>
      </ng-container>

      <mat-divider></mat-divider>

      <ng-container *ngIf="isAuthenticated()">
        <ng-container *ngFor="let item of privateRoutes">
          <a mat-list-item [routerLink]="[item.route]" (click)="drawer.close()">
            <mat-icon>{{ item.icon }}</mat-icon>
            {{ item.title }}
          </a>
        </ng-container>
      </ng-container>

      <mat-divider></mat-divider>

      <ng-container *ngFor="let item of generalRoutes">
        <a mat-list-item [routerLink]="[item.route]" (click)="drawer.close()">
          <mat-icon>{{ item.icon }}</mat-icon>
          {{ item.title }}
        </a>
      </ng-container>

      <a mat-list-item (click)="login(); drawer.close()" *ngIf="!isAuthenticated()" dashboardLogin>
        <mat-icon>vpn_key</mat-icon> Login
      </a>
      <a mat-list-item (click)="logout(); drawer.close()" *ngIf="isAuthenticated()">
        <mat-icon>exit_to_app</mat-icon> Sign out
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <div class="app-toolbar" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <div>
          <button mat-icon-button type="button" aria-label="Toggle sidenav" (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        </div>
        <div>
          <ng-container *ngTemplateOutlet="headerBlock"></ng-container>
        </div>
      </div>
    </mat-toolbar>
    <ng-template #headerBlock>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="40px" class="app-toolbar__profile-block">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
          <div fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center" matTooltip="Login" class="app-toolbar__profile-block__button" (click)="login()" *ngIf="!isAuthenticated(); else notification" dashboardLogin>
              Login
              <mat-icon class="app-toolbar__profile-block__icon" svgIcon="header_login_icon"></mat-icon>
            </div>
            <ng-template #notification>
              <mat-icon class="app-toolbar__profile-block__icon" svgIcon="header_notificarion_icon"></mat-icon>
            </ng-template>

          </div>
          <div>
            <a matTooltip="Github" href="http://github.com/DashboardHub/PipelineDashboard" target="_blank" fxLayout="row" fxLayoutAlign="space-between center">
              <mat-icon class="app-toolbar__profile-block__icon" svgIcon="header_github_icon"></mat-icon>
            </a>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
          <div>{{ isAuthenticated() ? getProfile().username : 'Welcome Guest' }}</div>
          <div>
            <a [routerLink]="['/profile']" *ngIf="isAuthenticated(); else notAuth">
              <img class="app-toolbar__profile-block__avatar" src="{{ getProfile().avatarUrl }}" />
            </a>

            <ng-template #notAuth>
              <mat-icon svgIcon="header_person_icon" class="app-toolbar__profile-block__avatar__icon"></mat-icon>
            </ng-template>
          </div>
        </div>
      </div>
    </ng-template>


    <div class="content-container">
      <mat-divider></mat-divider>
      <mat-progress-bar *ngIf="progress > 0" mode="buffer" color="warn"></mat-progress-bar>
      <router-outlet></router-outlet>
    </div>

    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-md="column-reverse" fxLayoutAlign.lt-md="space-between center" class="footer">
      <div>
        <span>Copyright &copy; 2018 <a href="https://www.dashboardhub.io" target="_blank" rel="noopener">DashboardHub</a>. All rights reserved <i>({{ version }})</i></span>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column-reverse">
        <div fxLayout="row">
          <div>
            <div [routerLink]="['/privacy']" class="footer__button">
              <mat-icon svgIcon="private_toolbar_icon"></mat-icon>
              Privacy
            </div>
          </div>
          <div>
            <div [routerLink]="['/terms-and-conditions']" class="footer__button">
              <mat-icon svgIcon="terms_toolbar_icon"></mat-icon>
              Terms & Conditions
            </div>
          </div>
          <div>
            <div (click)="showDoorbell()" class="footer__button">
              <mat-icon svgIcon="feedback_toolbar_icon"></mat-icon>
              Feedback
            </div>
          </div>

        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-icon [style.width.px]="120" svgIcon="assets:dashboardhub"></mat-icon>
        </div>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
