@import "~@angular/material/theming";
@import "../assets/scss/variable";

.sidenav-container {
  height: 100%;
  background-color: #eaeaea;
}

.sidenav {
  width: 300px;

  .heading {
    margin: 10px;

    img {
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
    }

    .mat-icon {
      font-size: 4rem;
      height: 4rem;
      width: 4rem;
    }
  }

  .mat-icon {
    padding-right: 10px;
    opacity: 0.7;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.app-toolbar {
  position: relative;

  background: none;


  &__profile-block {
    font-size: 16px;

    &__avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid $orange-2-color;
      cursor: pointer;

      &__icon {
        width: 40px;
        height: 40px;
        background: $orange-2-color;
        border: 1px solid $orange-2-color;
        border-radius: 50%;
      }
    }

    &__icon {
      transform: scale(0.8);
    }

    &__button {
      font-size: 16px;
      cursor: pointer;
    }
  }
}

.content-container {
  min-height: calc(100% - 128px);

  @media ($mat-xsmall) {
    min-height: calc(100% - 112px);
  }
}
