<div class="mat-content">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Active Users</mat-card-title>
                <mat-card-subtitle>Most active users</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <mat-list fxFlex dense>
                    <mat-list-item *ngFor="let user of users">
                        <img matListAvatar [src]="user.avatarUrl" [alt]="user.username" />
                        <h4 mat-line>{{ user.name }} ({{ user.username }})</h4>
                        <p mat-line>{{ user.github.activity.latest.type }} on {{ user.github.activity.latest.repository.fullName }} at {{ user.lastUpdated.toDate() | timeAgo }}</p>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>

<dashboard-projects-public [title] ="title"></dashboard-projects-public>
