<div class="home">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="home__title">Homepage</div>
  </div>

  <mat-card class="home__users-card">
    <mat-card-header>
      <div class="home__users-card__header">
        <mat-icon svgIcon="home_page_icon"></mat-icon>
      </div>
      <mat-card-title class="home__users-card__title">
        Active Users
      </mat-card-title>
      <mat-card-subtitle class="home__users-card__title__subtitle">
        Most active users
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="home__users-card__content">
      <table mat-table [dataSource]="users" class="home__users-card__content__table">
        <ng-container matColumnDef="avatar">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <img class="home__users-card__content__table__avatar" matListAvatar [src]="element.avatarUrl" [alt]="element.username" />
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let element">
            <div fxLayout.xs="column" fxLayoutAlign.xs="start start">
              <a href="https://github.com/{{element.username}}">{{ element.name ? element.name : element.username }}</a>
              <div *ngIf="isSmallScreen" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon svgIcon="time_icon"></mat-icon>
                <span>
                  {{ element.lastUpdated.toDate() | timeAgo }}
                </span>
              </div>
            </div>

          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description </th>
          <td mat-cell *matCellDef="let element" class="home__users-card__content__table__description">{{ element.github.activity.latest.type }} on {{ element.github.activity.latest.repository.fullName }} at {{ element.lastUpdated.toDate() | timeAgo }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>

<dashboard-projects-private-public [title]="title"></dashboard-projects-private-public>
