@import "../../../../styles.scss";
@import "../../../../assets/scss/variable";

.home {
  @include pageContainer;

  &__title {
    @include pageHeader;

  }

  &__users-card {
    @include cardContainer;

    &__header {
      @include header-icon;
      background-color: $purple-color;
      box-shadow: 0px 3px 6px $purple-color;
    }

    &__title {
      @include title;

      &__subtitle {
        @include subtitle;
      }
    }

    &__content {
      padding: 0;
      display: block;
      overflow: hidden;

      &__table {
        width: 100vw;

        &__avatar {
          height: 35px;
          border-radius: 50%;
          object-fit: cover;
        }

        &__description {
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
