<form #form="ngForm" class="form-full">
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field fxFlex>
      <input matInput class="form-control" placeholder="Name"
             required minlength="3" maxlength="32"
             name="name" [(ngModel)]="token.name"
             #name="ngModel">
      <mat-hint>Tokens are used to give push access to deployed versions. Tokens are like <b>passwords</b>. If you think a token has been compromised, delete it & create a new one</mat-hint>
      <div *ngIf="name.errors && (name.dirty || name.touched)">
        <mat-error *ngIf="name.errors.required">
          Name is required
        </mat-error>
        <mat-error *ngIf="name.errors.minlength">
          Name must be at least 3 characters long.
        </mat-error>
        <mat-error *ngIf="name.errors.maxlength">
          Name cannot be more than 32 characters long.
        </mat-error>
      </div>
    </mat-form-field>
    <button mat-button fxFlex="10%" color="primary"
            [disabled]="!form.valid"
            (click)="add()">SAVE
    </button>
  </div>
</form>
