{% extends 'base.html.twig' %}

{% block body %}
    <div id="homepage">
        <div class="jumbotron dashboardhub-image">
            <div class="jumbotron">
                <h1>Your World in One Place</h1>
                <p class="lead">Your Pipeline in One Place. Github, TravisCI etc all reporting back to your Dashboard Hub.</p>
                <p><a class="btn btn-lg btn-success" href="#" role="button">Free Sign in with Github</a></p>
            </div>
        </div>
    </div>
{% endblock %}
