a.navbar-brand span.version {
    font-size: 50%;
    font-style: italic;
}

div.jumbotron h1 {
    font-size: xx-large;
}

div#homepage div.dashboardhub-image {
    background-image: url("/bundles/dashboardhubapp/images/screenshot.png");
    background-repeat: no-repeat;
    background-position: right;
}

div#homepage div.dashboardhub-image div.jumbotron {
    max-width: 600px;
}

table.hideOverflow {
    table-layout:fixed;
}

table.hideOverflow td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

span.theme-badge {
    font-size: 40%;
    font-style: italic;
}

div.tiles div.panel {
    text-align: center;
}

div.tiles div.panel div.panel-body {
    font-size: xx-large;
    height:80px;
}
