<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button [routerLink]="['/environments', environment.id, 'monitors']"><mat-icon>arrow_back</mat-icon></a>
    <span flex></span>
    <button mat-button class="tc-red-A400" (click)="deleteDialog()" matTooltip="Delete monitor"><mat-icon>delete</mat-icon></button>
    <button mat-button (click)="ping()" matTooltip="Ping"><mat-icon>play_for_work</mat-icon></button>
    <button mat-button class="tc-green-A700" (click)="refresh()" matTooltip="Refresh data"><mat-icon>refresh</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="mat-content" layout-padding flex>
  <mat-card>
    <mat-card-title>Pings</mat-card-title>
    <mat-card-subtitle>List of your pings</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-list class="will-load item-list">
      <ng-template tdLoading="items.load">
        <ng-template let-ping let-last="last" ngFor [ngForOf]="pings.list">
          <mat-list-item layout-align="row">
            <mat-icon matListAvatar [ngClass]="isValid ? 'tc-green-A700' : 'tc-red-A400'">check_circle</mat-icon>
            <h3 matLine>{{ ping.duration }}ms</h3>
            <p matLine hide-xs>{{ ping.statusCode }} {{ ping.url }}</p>
            <span flex></span>
            <span class="mat-caption text-right" flex="20" layout-align="row" hide-xs hide-sm>
              <p>{{ ping.updatedAt | timeAgo }}</p>
            </span>
          </mat-list-item>
          <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
        </ng-template>
      </ng-template>
    </mat-list>
  </mat-card>
</div>
