<div *ngIf="project">
  <div class="project-body">
    <div class="project-body__header" fxLayout="row" fxLayoutAlign="space-between start">
      <div class="project-body__header__content" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between center">
        <span [matMenuTriggerFor]="menu" class="project-body__header__content__avatar" matBadgeColor="accent" [matBadge]="project.repositories.length">
          <img [src]="project.logoUrl" matBadgeSize="small" *ngIf="project.logoUrl" />
        </span>
        <mat-menu #menu="matMenu">
          <span *ngIf="isAdmin()">
            <button mat [routerLink]="['edit']" mat-menu-item>
              <mat-icon class="material-icons-outlined blue-color">edit</mat-icon>Edit
            </button>
            <button (click)="delete()" mat-menu-item>
              <mat-icon class="material-icons-outlined dark-orange-color">delete_outline</mat-icon>Delete
            </button>
          </span>
        </mat-menu>
        <mat-icon class="material-icons-outlined green-color">{{ typeIcon }}</mat-icon>
        <span class="project-body__header__content__name" [ngClass]="{'project-body__header__content__name__long': !isAdmin()}">{{ project.title }}</span>
      </div>
      <div class="project-body__header__content information">
        <span fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between start">
          <ng-container *ngIf="isAdmin()"><ng-container *ngTemplateOutlet="infoContentAdmin"></ng-container></ng-container>
          <ng-container *ngIf="isLoggedIn()"><ng-container *ngTemplateOutlet="infoContentGuest"></ng-container></ng-container>
        </span>
      </div>
      <div class="actions-menu" *ngIf="isAdmin()">
        <button mat-button [matMenuTriggerFor]="menuAction" #trigger="matMenuTrigger" [ngClass]="{'actions-menu__isActive': trigger.menuOpen}">
          <mat-icon *ngIf="!trigger.menuOpen; else whiteIcon" class="material-icons-outlined">more_vert</mat-icon>Actions
        </button>
        <mat-menu #menuAction="matMenu">
          <span fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="space-around start">
            <ng-container *ngIf="isAdmin()"><ng-container *ngTemplateOutlet="infoContentAdmin"></ng-container></ng-container>
            <ng-container *ngIf="isLoggedIn()"><ng-container *ngTemplateOutlet="infoContentGuest"></ng-container></ng-container>
          </span>
        </mat-menu>
        <ng-template #whiteIcon>
          <mat-icon class="material-icons-outlined white-color">more_vert</mat-icon>
        </ng-template>
      </div>
      <ng-template #infoContentAdmin>
        <div routerLink="monitors" class="project-body__header__content__item" fxLayout="row" fxLayoutGap="5px">
          <mat-icon class="material-icons-outlined dark-orange-color">desktop_windows</mat-icon><span>{{ project.monitors.length }} | Monitors</span>
        </div>
        <div [routerLink]="['tokens']" class="project-body__header__content__item" fxLayout="row" fxLayoutGap="5px">
          <mat-icon class="material-icons-outlined orange-color">toll</mat-icon><span>{{ project.tokens.length }} | Tokens</span>
        </div>
        <div (click)="addRepository()" class="project-body__header__content__item" fxLayout="row" fxLayoutGap="5px">
          <mat-icon class="material-icons-outlined light-green-color">folder_open</mat-icon><span>{{ project.repositories.length }} | Repositories</span>
        </div>
        <div class="project-body__header__content__item__pings" fxLayout="row" fxLayoutGap="5px">
          <mat-icon class="material-icons-outlined purple-color">swap_vertical_circle</mat-icon><span>{{ project.getTotalPings() }} | Total Pings</span>
        </div>
      </ng-template>
      <ng-template #infoContentGuest>
        <div *ngIf= "!isFollowing()" (click)="follow()" class="project-body__header__content__item" fxLayout="row" fxLayoutGap="5px">
          <mat-icon class="material-icons-outlined">star_border</mat-icon><span>{{ project.followers }} | Follow </span>
        </div>
        <div *ngIf= "isFollowing()" (click)="unfollow()" class="project-body__header__content__item" fxLayout="row" fxLayoutGap="5px">
          <mat-icon class="material-icons-outlined orange-color">star</mat-icon><span>{{ project.followers }} | Unfollow </span>
        </div>
      </ng-template>
    </div>

    <div class="helper" *ngIf="project.monitors.length === 0">
      <mat-card fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <span>
          <mat-icon class="material-icons-outlined orange-color">warning</mat-icon>
        </span>
        <span *ngIf="isAdmin()">You do not have any monitors. Please <a [routerLink]="['/projects', project.uid, 'monitors', 'create']">create</a> monitor</span>
        <span *ngIf="!isAdmin()">No monitors added to this project yet.</span>
      </mat-card>
    </div>

    <div class="helper" *ngIf="project.repositories.length === 0">
      <mat-card fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <span>
          <mat-icon class="material-icons-outlined orange-color">warning</mat-icon>
        </span>
        <span *ngIf="isAdmin()">You do not have any repositories. Please <a (click)="addRepository()">connect</a> repository</span>
        <span *ngIf="!isAdmin()">No repositories added to this project yet.</span>
      </mat-card>
    </div>

    <dashboard-monitor-summary *ngIf="isAdmin()" [monitors]="project.monitors || []"></dashboard-monitor-summary>

    <div class="repository" *ngFor="let uid of project.repositories">
      <dashboard-repository [uid]="uid" [isAdmin]="isAdmin()"></dashboard-repository>
    </div>
  </div>
</div>
