<div class="mat-content" *ngIf="project">

  <mat-toolbar>
    <mat-icon mat-card-avatar [matBadge]="project.repositories.length" matBadgeColor="accent" *ngIf="project.type === 'public'">lock_open</mat-icon>
    <mat-icon mat-card-avatar [matBadge]="project.repositories.length" matBadgeColor="accent" *ngIf="project.type === 'private'">lock</mat-icon>
    <span>{{ project.title }}</span>
    <span fxFlex></span>
    <span fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" *ngIf="isAdmin()">
      <button mat-raised-button type="submit" color="accent" routerLink="monitors">Monitors</button>
      <button mat-raised-button type="submit" color="accent" (click)="addRepository()">Add Repository</button>
      <button mat-raised-button type="submit" color="accent" [routerLink]="['edit']">Edit</button>
      <button mat-raised-button type="submit" color="warn" (click)="delete()">Delete</button>
    </span>
  </mat-toolbar>

  <dashboard-repository *ngFor="let uid of project.repositories" [uid]="uid"></dashboard-repository>
</div>
