<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Overview:: PipelineDashboard</title>
</head>
<body>

<div layout:fragment="content" class="container">

    <div class="row">
        <div class="card">
            <div class="card-header">
                Most Popular Project Dashboards
            </div>
            <div class="card-block">

            </div>
            <div class="card-footer text-muted">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                Most Recent Project Dashboards
            </div>
            <div class="card-block">

            </div>
            <div class="card-footer text-muted">

            </div>
        </div>
    </div>

</div>

</body>
</html>
