<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Overview:: PipelineDashboard</title>
</head>
<body>

<div layout:fragment="content" class="container">

    <div class="row">
        <h2>Recent Project Dashboards</h2>
        <div th:each="project : ${projects}">
            <div class="card" th:id="uid_ + ${project.uid}">
                <div class="card-header">
                    <i class="fa fa-lock" th:if="${project.isPrivate}"></i>
                    <i class="fa fa-unlock" th:unless="${project.isPrivate}"></i>
                    <span th:text="${project.name}"></span> by
                    <span th:if="${project.user.name}" th:text="${project.user.name}"></span>
                    <span th:unless="${project.user.name}" th:text="${project.user.username}"></span>
                </div>
                <div class="card-block">
                    <p th:text="${project.description}"></p>
                </div>
                <div class="card-footer text-muted">
                    Created on <span th:text="${project.createdOn}"></span>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
