<div id="contacts" class="page-layout simple left-sidenav inner-sidenav">

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start"
       fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

    <!-- APP TITLE -->
    <div fxLayout="row" fxLayoutAlign="start center">

      <button mat-button class="mat-icon-button sidenav-toggle mr-12"
              fuseMatSidenavToggler="contacts-main-sidenav"
              fxHide.gt-md>
        <mat-icon>menu</mat-icon>
      </button>

      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16 red-A700-fg" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">delete</mat-icon>
        <span class="logo-text h1 red-A700-fg" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Delete</span>
      </div>

    </div>
    <!-- / APP TITLE -->

  </div>
  <!-- / HEADER -->

  <!-- SELECTED BAR -->
  <!--<fuse-selected-bar class="mat-accent-600-bg" *ngIf="hasSelectedContacts" [@slideInTop]></fuse-selected-bar>-->
  <!-- / SELECTED BAR -->

  <mat-sidenav-container>

    <!-- SIDENAV -->
    <mat-sidenav class="sidenav" align="start" opened="true" mode="side" fuseMatSidenavHelper="contacts-main-sidenav" mat-is-locked-open="gt-sm">
      <environment-sidenav [environment]="environment"></environment-sidenav>
    </mat-sidenav>
    <!-- / SIDENAV -->

    <!-- CENTER -->
    <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>

      <!-- CONTENT -->
      <div class="content mat-white-bg mat-elevation-z4">

        <form #form="ngForm" class="form-full p-24 pb-56 pr-sm-92">
          <mat-hint class="red-A700-fg">This will delete the <b>Environment</b> and all associated data including Tokens, Monitors, Deploys and Relases</mat-hint>
          <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex>
              <input matInput class="form-control" placeholder="Environment Title"
                     required minlength="3" maxlength="32"
                     name="title" [(ngModel)]="deleteEnvironment.title"
                     #title="ngModel">
              <div *ngIf="title.errors && (title.dirty || title.touched)">
                <mat-error *ngIf="title.errors.required">
                  Title is required
                </mat-error>
                <mat-error *ngIf="title.errors.minlength">
                  Title must be at least 3 characters long.
                </mat-error>
                <mat-error *ngIf="title.errors.maxlength">
                  Title cannot be more than 32 characters long.
                </mat-error>
              </div>
            </mat-form-field>
            <button mat-button fxFlex="10%" color="primary"
                    [disabled]="!form.valid"
                    (click)="delete()">DELETE
            </button>
          </div>
        </form>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

  </mat-sidenav-container>

</div>
