<form #form="ngForm" class="form-full">
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field fxFlex>
      <input matInput class="form-control" placeholder="Path (e.g. /pricing)"
             minlength="0" maxlength="64"
             name="path" [(ngModel)]="monitor.path"
             #path="ngModel">
      <div *ngIf="path.errors && (path.dirty || path.touched)">
        <mat-error *ngIf="path.errors.required">
          Path is required
        </mat-error>
        <mat-error *ngIf="path.errors.minlength">
          Path must be at least 3 characters long.
        </mat-error>
        <mat-error *ngIf="path.errors.maxlength">
          Path cannot be more than 32 characters long.
        </mat-error>
      </div>
    </mat-form-field>
    <mat-form-field fxFlex="10%">
      <mat-select placeholder="Expected Code" name="expectedCode" [(ngModel)]="monitor.expectedCode" [disabled]="true">
        <mat-option value="200">200</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="20%">
      <input matInput class="form-control" placeholder="Expected Text"
             minlength="3" maxlength="32"
             name="expectedText" [(ngModel)]="monitor.expectedText"
             #expectedText="ngModel">
      <div *ngIf="expectedText.errors && (expectedText.dirty || expectedText.touched)">
        <mat-error *ngIf="expectedText.errors.minlength">
          Expected text must be at least 3 characters long.
        </mat-error>
        <mat-error *ngIf="expectedText.errors.maxlength">
          Expected text cannot be more than 32 characters long.
        </mat-error>
      </div>
    </mat-form-field>
    <mat-form-field fxFlex="10%">
      <mat-select placeholder="Cycle Time" name="cycle" [(ngModel)]="monitor.cycle" [disabled]="true">
        <mat-option value="30">30 mins</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="10%">
      <mat-select placeholder="Method" name="method" [(ngModel)]="monitor.method" [disabled]="true">
        <mat-option value="GET">GET</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button fxFlex="10%" color="primary"
            [disabled]="!form.valid"
            (click)="add()">SAVE
    </button>
  </div>
</form>
