<div class="mat-content" layout-padding flex>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create Environments</mat-card-title>
      <mat-card-subtitle>This can be 'dev', 'test', 'prod' and everything in between</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <td-dynamic-forms [elements]="form.elements" #dynamicForm>
        <ng-template let-element ngFor [ngForOf]="form.elements">
          <ng-template let-control="control" [tdDynamicFormsError]="element.name">
          <span *ngIf="control.touched || !control.pristine">
            <span *ngIf="control.hasError('required')">Required</span>
            <span *ngIf="control.hasError('min')">Min value: {{element.min}}</span>
            <span *ngIf="control.hasError('max')">Max value: {{element.max}}</span>
            <span *ngIf="control.hasError('minlength')">Min length value: {{element.minLength}}</span>
            <span *ngIf="control.hasError('maxlength')">Max length value: {{element.minLength}}</span>
            <span *ngIf="control.hasError('invalidSsl')">Must be on https (ssl)</span>
            <span *ngIf="control.hasError('invalidUrl')">Must be a valid URL</span>
          </span>
          </ng-template>
        </ng-template>
      </td-dynamic-forms>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button routerLink="/environments/list">Cancel</button>
      <button mat-button color="accent" (click)="submit(dynamicForm)" [disabled]="!dynamicForm.valid">Submit</button>
    </mat-card-actions>
  </mat-card>
</div>
