<div fxLayout="column">

  <mat-toolbar class="mat-elevation-z24 h-48">
    <p *ngIf="environment.latestRelease.id"><b>{{ environment.latestRelease.release }}</b> in
      <b>{{ environment.latestRelease.state }}</b> using <b>{{ environment.latestRelease.token.name }}</b> at
      <b>{{ environment.latestRelease.createdAt | amTimeAgo }}</b></p>
  </mat-toolbar>

  <mat-card class="mat-elevation-z18">
    <mat-card-header>
      <mat-card-title>{{ environment.type }} ({{ environment.releases }})</mat-card-title>
      <mat-card-subtitle *ngIf="environment.link">{{ environment.link }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="environment.description">{{ environment.description }}</p>
    </mat-card-content>
  </mat-card>

  <mat-progress-bar mode="buffer" [value]="environment.progress ? environment.progress.current : 0" [bufferValue]="environment.progress ? environment.progress.next : 0"></mat-progress-bar>

  <div class="widget-group p-12" fxLayout="row" fxFlex="100" fxLayoutWrap *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
      <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
          <div class="light-blue-fg font-size-48 line-height-72" *ngIf="environment.latestRelease.id">{{ environment.latestRelease.release }}</div>
          <div class="light-blue-fg font-size-48 line-height-72" *ngIf="!environment.latestRelease.id">-.-.-</div>
          <div class="h3 secondary-text font-weight-500">Version</div>
        </div>

        <!--<div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">-->
        <!--<span class="h4 ml-8">bbbb</span>-->
        <!--</div>-->
      </div>
    </fuse-widget>

    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
      <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
          <div class="light-blue-fg font-size-48 line-height-72">{{ environment.releases }}</div>
          <div class="h3 secondary-text font-weight-500">Releases</div>
        </div>

        <!--<div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">-->
        <!--<span class="h4 secondary-text text-truncate">aaaa</span>-->
        <!--<span class="h4 ml-8">bbbb</span>-->
        <!--</div>-->
      </div>
    </fuse-widget>

    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
      <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
          <div class="light-blue-fg font-size-48 line-height-72">{{ environment.pings }}</div>
          <div class="h3 secondary-text font-weight-500">Pings</div>
        </div>

        <!--<div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">-->
        <!--<span class="h4 secondary-text text-truncate">aaaa</span>-->
        <!--<span class="h4 ml-8">bbbb</span>-->
        <!--</div>-->
      </div>
    </fuse-widget>

    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
      <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
          <div class="light-blue-fg font-size-48 line-height-72">{{ environment.views | number }}</div>
          <div class="h3 secondary-text font-weight-500">Views</div>
        </div>

        <!--<div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">-->
        <!--<span class="h4 secondary-text text-truncate">aaaa</span>-->
        <!--<span class="h4 ml-8">bbbb</span>-->
        <!--</div>-->
      </div>
    </fuse-widget>

  </div>

</div>
