@import "../../../assets/scss/variable";
@import "../../../assets/scss/mixin.scss";

.monitor-list {
  @include pageContainer;

  &__header {
    @include pageHeader;


    &__add-button {
      color: #fff;
      background-color: $orange-3-color
    }

    &__pings {
      border-radius: 4px;
      background-color: #fff;
      cursor: default;
      height: 35px;
      display: flex;
      font-size: 14px;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      font-weight: lighter;
    }

    &__content {
      &__avatar {
        cursor: pointer;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
        height: 40px;
      }
    }
  }

  &__alert {
    @include cardContainer;

    &__card {
      font-size: 18px;
      font-weight: lighter;
      color: $dark-grey-3-color;
    }
  }

  &__card {
    @include cardContainer;

    &__header {
      @include header-icon;
      background-color: $orange-3-color;
      box-shadow: 0px 3px 6px $orange-3-shadow;
    }

    &__title {
      @include title;
      width: 30vh;

      &__subtitle {
        @include subtitle;
        width: 35vh;
      }
    }

    &__content {
      padding: 0;
      display: block;
      overflow: hidden;
      @include tableContainer;

      &__table {
        width: 100%;

        &__avatar {
          height: 35px;
          border-radius: 50%;
          object-fit: cover;
        }

        &__ping {
          @include ellipsisText;
          max-width: 15vw;
        }

        &__action {
          cursor: pointer;
        }
      }
    }
  }
}
