<div class="mat-content">
  <mat-card class="bread-crumb">
    <a [routerLink]="['/projects', projectUid]">Project</a> > <span>Monitors</span>
  </mat-card>
  <mat-card class="alert" *ngIf="!project.url">
    <mat-icon>error</mat-icon> Project does not have a url. Please <a [routerLink]="['/projects', project.uid, 'edit']">edit</a> the project and add a URL for monitors run
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Monitors</mat-card-title>
      <mat-card-subtitle>You have {{ monitors.length }} monitors</mat-card-subtitle>
      <span fxFlex></span>
      <span fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" matTooltip="Monitors reach of limit 3" matTooltipPosition="above" [matTooltipDisabled]="monitors.length < 3">
        <button mat-raised-button type="submit" color="accent" routerLink="create" [disabled]="monitors.length >= 3">
          <mat-icon>add</mat-icon> Monitor
        </button>
      </span>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item fxLayout="column" *ngFor="let monitor of monitors">
          <div class="monitors">
            <h4 mat-line><a [routerLink]="[monitor.uid,'pings']">{{monitor.name}}</a></h4>
            <p mat-line>{{monitor.method}} {{monitor.path}} {{monitor.expectedCode}} {{monitor.expectedText}}</p>
            <p mat-line>Successful pings: {{monitor.successfulPings || 0}} | Unsuccessful pings: {{monitor.unsuccessfulPings || 0}} </p>
            <p mat-line></p>
          </div>
          <div class="pings" fxLayout="column" *ngIf="monitor.latestPing">
            <p mat-line>{{ monitor.latestPing.url }}</p>
            <p mat-line>{{ monitor.latestPing.statusCode }} | {{ monitor.latestPing.duration }}ms | {{ monitor.latestPing.createdOn.toDate() | timeAgo }}</p>
          </div>
          <div class="button-right">
            <p>
              <button mat-raised-button color="accent" [disabled]="manualPing || !project.url" (click)="pingMonitor(monitor.uid)">Ping</button>
              <button mat-raised-button color="accent" [routerLink]="monitor.uid">Edit</button>
              <button mat-raised-button color="warn" (click)="delete(monitor.uid)">Delete</button>
            </p>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
