<mat-toolbar class="mat-elevation-z2" fxLayout="row" fxLayoutGap="10px">
    <a mat-icon-button [routerLink]="['/environments', environment.id]"><mat-icon>arrow_back</mat-icon></a>
    <span fxFlex></span>
    <a mat-icon-button *ngIf="environment.monitors.length === 0" [routerLink]="['/environments', environment.id, 'monitors', 'add']"><mat-icon color="accent">add</mat-icon></a>
    <button mat-icon-button (click)="refresh()" matTooltip="Refresh data"><mat-icon>refresh</mat-icon></button>
</mat-toolbar>

<div class="mat-content">
    <mat-card>
        <mat-card-title>Monitors ({{ environment.monitors.length }}/1)</mat-card-title>
        <mat-card-subtitle>{{ environment.link || 'No environment link configured' }}</mat-card-subtitle>

        <mat-card-content>
            <mat-nav-list>
                    <ng-container *ngFor="let monitor of monitors.list">
                        <a mat-list-item [routerLink]="['/environments', environment.id, 'monitors', monitor.id]">
                            <mat-icon matListIcon>timelapse</mat-icon>
                            <h3 matLine>{{ monitor.path }}</h3>
                            <p matLine fxHide.xs>{{ environment.link }}{{ monitor.path }}</p>
                            <span fxFlex></span>
                            <div class="mat-caption" fxLayout="column" fxFlex="20%" fxLayoutAlign="center end" fxHide.xs fxHide.sm>
                                <div>{{ monitor.pings.valid }} valid pings</div>
                                <div>{{ monitor.pings.invalid }} invalid pings</div>
                            </div>
                            <div class="mat-caption" fxLayout="column" fxFlex="20%" fxLayoutAlign="center end" fxHide.xs fxHide.sm>
                                <div>{{ monitor.expectedCode }} {{ monitor.expectedText | truncate:50 }}</div>
                                <div>{{ monitor.method }}</div>
                            </div>
                        </a>
                    </ng-container>
            </mat-nav-list>

            <p *ngIf="!monitors.list.length">Add a monitor using the buttons in the menu</p>
        </mat-card-content>
    </mat-card>
</div>
