<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button [routerLink]="['/environments', environment.id]">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <span flex></span>
    <button mat-button (click)="refresh()" matTooltip="Refresh data"><mat-icon>refresh</mat-icon></button>
    <a mat-button [routerLink]="['/environments', environment.id, 'monitors', 'add']" color="accent" *ngIf="environment.monitors.length === 0"><mat-icon>add</mat-icon></a>
  </mat-toolbar-row>
</mat-toolbar>


<div class="mat-content" layout-padding flex>
  <mat-card>
    <mat-card-title>Monitors ({{ environment.monitors.length }}/1)</mat-card-title>
    <mat-card-subtitle>{{ environment.link }}</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-nav-list class="will-load item-list">
      <ng-template tdLoading="items.load">
        <ng-template let-monitor let-last="last" ngFor [ngForOf]="monitors.list">
          <a mat-list-item layout-align="row" [routerLink]="'/environments/' + environment.id + '/monitors/' + monitor.id">
            <mat-icon matListAvatar>timelapse</mat-icon>
            <h3 matLine>{{ monitor.path }}</h3>
            <p matLine hide-xs>{{ monitor.expectedCode }} {{ monitor.expectedText | truncate:50 }}</p>
            <span flex></span>
            <span class="mat-caption text-right" flex="20" layout-align="row" hide-xs hide-sm>
              <p>{{ monitor.pings.valid }} valid pings</p>
              <p>{{ monitor.pings.invalid }} invalid pings</p>
            </span>
            <span class="mat-caption text-right" flex="20" layout-align="row" hide-xs hide-sm>
              <p>{{ monitor.method }}</p>
            </span>
          </a>
          <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
        </ng-template>
      </ng-template>
    </mat-nav-list>
  </mat-card>
</div>
