@import "./../../../../../core/scss/fuse";

.help-article-dialog {

  @include media-breakpoint('xs') {
    width: 100%;
  }

  @include media-breakpoint-up('xs') {
    width: 720px;
  }

  .mat-dialog-container {
    padding: 0;
  }

  .dialog-content-wrapper {
    max-height: 85vh;
    display: flex;
    flex-direction: column;
  }

  table {
    width: 100%;

    thead {
      background: #E4E4E4;
      color: #2A2A2A;

      tr {
        th {
          padding: 1rem;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 0.4rem 1rem;
        }
      }
    }
  }
}
