@import "../../../../styles.scss";
@import "../../../../assets/scss/variable";

.project {
  @include pageContainer;

  &__title {
    @include pageHeader;

    &__add-button {
      background-color: $blue-2-color;

      color: #fff;
    }

    &__header {
      font-size: 16pt
    }
  }




  .project-card {
    @include cardContainer;
    margin: 30px 0;

    &__header {
      @include header-icon;
      background-color: $blue-2-color;
      box-shadow: 0px 3px 6px $blue-2-shadow;
    }

    &__title {
      @include title;

      &__subtitle {
        @include subtitle;
      }
    }


    &__content {
      padding: 0;
    }
  }
}
