<div class="sidenav-content">

  <div class="card mat-white-bg">
    <!-- SIDENAV HEADER -->
    <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">

      <!-- USER -->
      <i class="material-icons w-40 h-40" *ngIf="!environment.logo">developer_board</i>
      <img *ngIf="environment.logo" [src]="environment.logo" class="avatar mr-16" [alt]="environment.title"/>
      <span class="h5">{{ environment.title }}</span>
      <!-- / USER -->

    </div>
    <!-- / SIDENAV HEADER -->

    <!-- SIDENAV CONTENT -->
    <div class="content py-16" fusePerfectScrollbar>

      <div class="nav">

        <div class="nav-item" aria-label="Overview">
          <a class="nav-link" matRipple [routerLink]="['/environment', environment.id]">
            <mat-icon class="logo-icon mr-16">subject</mat-icon>
            <span class="title">Overview</span>
          </a>
        </div>

        <div class="nav-item" aria-label="Releases">
          <a class="nav-link" matRipple [routerLink]="['/environment', environment.id, 'releases']">
            <mat-icon class="logo-icon mr-16">new_releases</mat-icon>
            <span class="title">Releases</span>
          </a>
        </div>

        <div class="nav-item" aria-label="Tokens">
          <a class="nav-link" matRipple [routerLink]="['/environment', environment.id, 'token']">
            <mat-icon class="logo-icon mr-16">vpn_key</mat-icon>
            <div class="title">Tokens</div>
          </a>
        </div>

        <!--<div class="nav-item" aria-label="Monitors">-->
          <!--<a class="nav-link" matRipple [routerLink]="['/environment', environment.id, 'monitors', environment.monitors[0].id]">-->
            <!--<mat-icon class="logo-icon mr-16">timelapse</mat-icon>-->
            <!--<div class="title">Monitors</div>-->
          <!--</a>-->
        <!--</div>-->

        <div class="nav-item" aria-label="Deploys">
          <a class="nav-link" matRipple [routerLink]="['/environment', environment.id, 'deploys']">
            <mat-icon class="logo-icon mr-16">timer</mat-icon>
            <div class="title">Deploys</div>
          </a>
        </div>

        <mat-divider></mat-divider>

        <div class="nav-item" aria-label="Edit">
          <a class="nav-link" matRipple [routerLink]="['/environment', environment.id, 'edit']">
            <mat-icon class="logo-icon mr-16">mode_edit</mat-icon>
            <div class="title">Edit</div>
          </a>
        </div>

        <div class="nav-item" aria-label="Delete">
          <a class="nav-link" matRipple [routerLink]="['/environment', environment.id, 'delete']">
            <mat-icon class="logo-icon mr-16 red-A700-fg">delete</mat-icon>
            <div class="title red-A700-fg">Delete</div>
          </a>
        </div>

      </div>

    </div>
  </div>
</div>
<!-- / SIDENAV CONTENT -->
